{% extends 'layouts/base.html' %}

{% block title %}
    {% if search %}{{ "SEARCH_CUSTOM" | gettext }}:
        {{ search }}{% else %}{{ "CUSTOM_LABEL" | gettext }}
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>{% if search %}{{ "SEARCH_CUSTOM" | gettext }}:
                            {{ search }}{% else %}{{ "CUSTOM_LABEL" | gettext }}
                        {% endif %}
                            (<span id="post-number">{{ settings_number }}</span>个)
                            <a href="javascript:query_new()" class="text-primary text-lg">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </h6>

                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="px-1 text-secondary">{{ "VALUE_NAME" | gettext }}</span>
                                    </th>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="text-secondary">{{ "CONTENT" | gettext }}</span>
                                    </th>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="text-secondary">{{ "OPERATION" | gettext }}</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="posts-list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer py-4">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item" id="prev-page">
                                <a class="page-link"
                                   href="javascript:prev_page()">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">{{ "PREV_PAGE" | gettext }}</span>
                                </a>
                            </li>
                            {% for i in page_number|get_range %}
                                <li class="page-item" id="page-{{ i }}">
                                    <a class="page-link"
                                       href="javascript:change_page({{ i }})">{{ i }}</a>
                                </li>
                            {% endfor %}

                            <li class="page-item" id="next-page">
                                <a class="page-link"
                                   href="javascript:next_page()">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">{{ "NEXT_PAGE" | gettext }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-white">
                <div class="modal-header" style="border: none;">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">{{ "TIPS" | gettext }}</h5>
                    <button type="button" data-bs-dismiss="modal"
                            aria-label="Close" style="box-sizing: content-box;width: 1em;height:
                            1em;padding: .25em;color: #8392ab;border: 0;border-radius: .375rem;
                            opacity: .5;background: none">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ "DEL_CONFIRM_1" | gettext }} <a
                        id="delfile"></a> {{ "DEL_CONFIRM_2" | gettext }}
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ "CANCEL" | gettext }}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="delete_file()"
                            data-bs-dismiss="modal">{{ "CONFIRM" | gettext }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="query" tabindex="-1" aria-labelledby="queryLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-white">
                <div class="modal-header" style="border: none;">
                    <h5 class="modal-title fs-5" id="queryLabel"></h5>
                    <button type="button" data-bs-dismiss="modal"
                            aria-label="Close" style="box-sizing: content-box;width: 1em;height:
                            1em;padding: .25em;color: #8392ab;border: 0;border-radius: .375rem;
                            opacity: .5;background: none">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="query-modal-body">
                </div>
                <div class="modal-footer" style="border: none;" id="query-modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>
        var posts = {{ settings|safe }};
        var _page = 1;
        var del_file;

        function change_page(page) {
            scrollToTop();
            let color = checkIfDark() ? "text-white" : "text-dark";
            let post_temp = `<tr>
                                <td>
                                    <div class="d-flex px-4 py-1">
                                        <h6 class="mb-0 text-sm">@@name@@</h6>

                                    </div>
                                </td>
                                 <td>
                                    <span class="text-xs font-weight-bold opacity-8
                                    ${color}">@@content@@</span>
                                </td>
                                <td class="align-middle">
                                    <a href="javascript:query_edit('@@name@@', '@@content@@')">
                                    <i class="fa fa-edit text-primary text-xxs"></i></a>
                                    |
                                    <a href="javascript:query_delete('@@name@@')">
                                    <i class="fa fa-trash-alt me-2 text-primary text-xxs"></i></a>
                                </td>
                            </tr>`;
            let page_posts;
            if (posts.length > page * 15 + 1) {
                page_posts = posts.slice(15 * (page - 1), page * 15);
            } else {
                page_posts = posts.slice(15 * (page - 1));
            }
            let list = "";
            for (let i = 0; i < page_posts.length; i++) {
                list += post_temp.replaceAll("@@name@@", excerpt_by_local(page_posts[i].name, 20))
                    .replaceAll("@@content@@", excerpt_by_local(page_posts[i].content, 70));
            }
            $("#page-" + _page).removeClass("active");
            $("#page-" + _page).children().removeClass("text-white");
            $("#page-" + page).addClass("active");
            $("#page-" + page).children().addClass("text-white");
            $("#posts-list").html(list);
            _page = page;
            if (page <= 1) {
                $("#prev-page").addClass("disabled");
            } else {
                $("#prev-page").removeClass("disabled");
            }
            if (page >= {{ page_number }}) {
                $("#next-page").addClass("disabled");
            } else {
                $("#next-page").removeClass("disabled");
            }
        }

        function prev_page() {
            if (_page > 1) {
                change_page(_page - 1);
            } else {
                notyf.error("{{ "NO_PREV_PAGE" | gettext }}");
            }
        }

        function next_page() {
            if (_page < {{ page_number }}) {
                change_page(_page + 1);
            } else {
                notyf.error("{{ "NO_NEXT_PAGE" | gettext }}");
            }
        }

        change_page(1);

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });


        function query_edit(name, content) {
            let color = checkIfDark() ? "bg-gradient-dark text-white" : "bg-white text-dark";
            let html = `<div class="form-group"><label class="form-control-label">{{ "VALUE_NAME" | gettext }}</label><input type="text"
                                                                                                 name="name"
                                                                                                 id="edit-name"
                                                                                                 value="${name}"
                                                                                                 class="form-control ${color}">
                        </div>
                        <div class="form-group"><label class="form-control-label">{{ "CONTENT" | gettext }}</label><input type="text"
                                                                                                 name="edit-content"
                                                                                                 id="edit-content"
                                                                                                 value="${content.toString().replaceAll("\"", "&quot;")}"
                                                                                                 class="form-control ${color}">
                        </div>`;
            $("#query-modal-body").html(html);
            $("#queryLabel").html("{{ "EDIT" | gettext }}");
            let footer = "<button type=\"button\" class=\"btn btn-secondary\" " +
                "data-bs-dismiss=\"modal\">{{ "CANCEL" | gettext }}</button><button type=\"button\" class=\"btn " +
                "btn-primary\" data-bs-dismiss=\"modal\" onclick=\"change_value('" + name +
                "')\">{{ "CONFIRM" | gettext }}</button>"
            $("#query-modal-footer").html(footer);
            $("#query").modal("show");
        }

        function query_delete(name) {
            let html = formatString("{{ "CONFIRM_DEL_CUSTOM" | gettext }}", name);
            $("#query-modal-body").html(html);
            $("#queryLabel").html("{{ "TIPS" | gettext }}");
            let footer = "<button type=\"button\" class=\"btn btn-secondary\" " +
                "data-bs-dismiss=\"modal\">{{ "CANCEL" | gettext }}</button><button type=\"button\" class=\"btn " +
                "btn-primary\" data-bs-dismiss=\"modal\" onclick=\"delete_value('" + name +
                "')\">{{ "CONFIRM" | gettext }}</button>"
            $("#query-modal-footer").html(footer);
            $("#query").modal("show");
        }

        function query_new() {
            let html = "<div class=\"form-group\"><label " +
                "class=\"form-control-label\">{{ "VALUE_NAME" | gettext }}</label><input type=\"text\" " +
                "name=\"name\" id=\"edit-name\" " +
                "class=\"form-control\"></div>" + "<div class=\"form-group\"><label " +
                "class=\"form-control-label\">{{ "CONTENT" | gettext }}</label><input type=\"text\" " +
                "name=\"content\" id=\"edit-content\" " +
                "class=\"form-control\"></div>";
            $("#query-modal-body").html(html);
            $("#queryLabel").html("{{ "NEW_VALUE" | gettext }}");
            let footer = "<button type=\"button\" class=\"btn btn-secondary\" " +
                "data-bs-dismiss=\"modal\">{{ "CANCEL" | gettext }}</button><button type=\"button\" class=\"btn " +
                "btn-primary\" data-bs-dismiss=\"modal\" onclick=\"new_value()\">{{ "CONFIRM" | gettext }}</button>"
            $("#query-modal-footer").html(footer);
            $("#query").modal("show");
        }

        function change_value(name) {
            let loading = new KZ_Loading('{{ "SAVING" | gettext }}');
            loading.show();
            let content = $("#edit-content").val();
            $.ajax({
                url: '/api/set_custom/',
                method: 'post',
                data: {"name": name, "content": content},
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success(res.msg);
                        for (let i = 0; i < posts.length; i++) {
                            if (posts[i]["name"] == name) {
                                posts[i]["content"] = content;
                                change_page(_page);
                                break;
                            }
                        }
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }

        function delete_value(name) {
            let loading = new KZ_Loading('{{ "DELETING" | gettext }}');
            loading.show();
            $.ajax({
                url: '/api/del_custom/',
                method: 'post',
                data: {"name": name},
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success(res.msg);
                        for (let i = 0; i < posts.length; i++) {
                            if (posts[i]["name"] === name) {
                                posts.splice(i, 1);
                                change_page(_page);
                                break;
                            }
                        }
                        $("#post-number").html(posts.length);
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }

        function new_value() {
            let name = $("#edit-name").val();
            let content = $("#edit-content").val();
            let loading = new KZ_Loading('{{ "SAVING" | gettext }}');
            loading.show();
            $.ajax({
                url: '/api/new_custom/',
                method: 'post',
                data: {"name": name, "content": content},
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success(res.msg);
                        posts.push({"name": name, "content": content});
                        posts.sort(function (x, y) {
                            if (x["name"] < y["name"]) {
                                return -1;
                            } else if (x["name"] > y["name"]) {
                                return 1;
                            } else {
                                return 0;
                            }
                        });
                        change_page(_page);
                        $("#post-number").html(posts.length);
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }


    </script>
{% endblock javascripts %}
