{% extends 'layouts/base.html' %}

{% block title %} 编辑文章: {{ filename }} {% endblock title %}

{% block content %}

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">正在编辑: {{ filename }}</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="/posts.html">文章</a></li>
                                <li class="breadcrumb-item active" aria-current="page">编辑</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="javascript:SaveDraft()" class="btn btn-sm btn-neutral">保存草稿</a>
                        <a href="javascript:Publish()" class="btn btn-sm btn-neutral">发布</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="card col-md-8 px-0 ml-md-4">
                <div id="vditor"></div>
            </div>
            <div class="card col-md-3 ml-md-4">
                <h3 class="mt-3">文章参数</h3>
                <hr class="my-2"/>
                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-heading"></i> 标题</label>
                    <input type="text" name="title"
                           class="form-control"
                           placeholder="显示的文章题目"
                           id="title"
                           value="{{ front_matter.title }}">
                </div>
                {% if front_matter.abbrlink %}
                    <div class="form-group">
                        <label class="form-control-label"><i class="fas fa-id-card"></i>
                            缩写</label>
                        <input type="text" name="abbrlink"
                               class="form-control"
                               id="abbrlink"
                               placeholder="文章 Abbrlink"
                               value="{{ front_matter.abbrlink }}">
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-globe-americas"></i>
                        发布于</label>
                    <input type="text" name="date"
                           class="form-control"
                           id="date"
                           placeholder="发布时间"
                           value="{{ front_matter.date }}">
                </div>

                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-calendar-alt"></i>
                        更新于</label>
                    <input type="text" name="updated"
                           class="form-control"
                           id="updated"
                           placeholder="更新时间"
                           value="{{ front_matter.updated }}">
                </div>

                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-tag"></i> 标签</label>
                    <div class="input-group">
                        <input type="text" name="tag"
                               class="form-control"
                               placeholder="添加标签"
                               id="tag">
                        <div class="input-group-append">
                            <button class="btn" type="button"
                                    style="border: 1px solid #dee2e6;border-radius: .25rem;"
                                    onclick="add_tag($('#tag').val());$('#tag').val('')">+
                            </button>
                        </div>
                    </div>
                    <div id="tag-container"></div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-folder-open"></i>
                        分类</label>
                    <div class="input-group">
                        <input type="text" name="category"
                               class="form-control"
                               placeholder="添加分类"
                               id="category">
                        <div class="input-group-append">
                            <button class="btn" type="button"
                                    style="border: 1px solid #dee2e6;border-radius: .25rem;"
                                    onclick="add_category($('#category').val());$('#category').val('')">
                                +
                            </button>
                        </div>
                    </div>
                    <div id="category-container"></div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-pencil-alt"></i>
                        自定义</label>
                    <textarea name="custom"
                              id="custom"
                              class="form-control"
                              placeholder="自定义Front-Matter"></textarea>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <link href="{{ cdn_prev }}vditor@3.8.15/dist/index.css" rel="stylesheet"/>
    <script src="{{ cdn_prev }}vditor@3.8.15/dist/index.min.js"></script>


    <script>
        var _status = true, front_matter = {{ json_front_matter|safe }}, categories, rags;
        if (typeof (front_matter["tags"]) === "object" && front_matter["tags"] !==
            null) tags = front_matter["tags"];
        else if (typeof (front_matter["tags"]) === "string") tags = [front_matter["tags"]];
        else tags = [];
        if (typeof (front_matter["categories"]) === "object" && front_matter["categories"] !==
            null) categories =
            front_matter["categories"];
        else if (typeof (front_matter["categories"]) === "string") categories = [front_matter["categories"]];
        else categories = [];

        $("#updated").val(getTimeFormat());

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        function getTimeFormat() {
            let date = new Date();
            let month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth()
                + 1;
            let currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            let hh = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            let mm = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            let ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate + " " + hh + ":" + mm + ":" + ss;
            //返回格式：yyyy-MM-dd hh:mm:ss
        }


        function Publish() {
            if (!_status) {
                return false;
            }
            var loading = new KZ_Loading('正在保存中...');
            _status = false;
            loading.show();
            $.ajax({
                url: '/api/save_post/',
                method: 'post',
                data: {
                    "file": "{{ fullname }}", "content": vditor.getValue(), "front_matter":
                        JSON.stringify(get_front_matter())
                },
                dataType: 'JSON',
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success('发布成功！');
                        _status = true;
                    } else {
                        notyf.error(res.msg);
                        _status = true;
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("网络错误！");
                    _status = true;
                }
            })
        }

        function SaveDraft() {
            if (!_status) {
                return false;
            }
            var loading = new KZ_Loading('草稿保存中...');
            _status = false;
            loading.show();
            $.ajax({
                url: '/api/save_draft/',
                method: 'post',
                data: {
                    "file": "{{ fullname }}", "content": vditor.getValue(), "front_matter":
                        JSON.stringify(get_front_matter())
                },
                dataType: 'JSON',
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success('草稿保存成功！');
                        _status = true;
                    } else {
                        notyf.error(res.msg);
                        _status = true;
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("网络错误！");
                    _status = true;
                }
            })
        }

        function fIsMobile() {
            return /Android|iPhone|iPad|iPod|BlackBerry|webOS|Windows Phone|SymbianOS|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }

        var toolbar;
        toolbar = [
            "emoji",
            "headings",
            "bold",
            "italic",
            "strike",
            "link",
            "|",
            "list",
            "ordered-list",
            "check",
            "|",
            "quote",
            "line",
            "code",
            "inline-code",
            "|",
            {% if img_bed %}
                {
                    name: "upload",
                    tip: '上传图片',
                },
            {% endif %}
            "table",
            "export",
            "|",
            "fullscreen",
            "edit-mode",
            "preview"
        ];
        //挂载到全局
        if (fIsMobile()) {
            window.vditor = new Vditor('vditor', {
                toolbarConfig: {
                    pin: true
                },
                counter: {
                    enable: true
                },
                "cdn": "{{ cdn_prev }}vditor@3.8.15",
                "mode": "ir",
                "height": window.innerHeight * 0.75,
                "value": {{ file_content|safe }},
                "fullscreen": {
                    "index": 1050,
                },
                "debugger": false,
                "cache": {
                    "enable": false,
                },
                "preview": {
                    "theme": {
                        "path": "{{ cdn_prev }}vditor@3.8.15/dist/css/content-theme"
                    }
                },
                toolbar: [
                    'emoji',
                    'link',
                    {% if img_bed %}
                        {
                            name: "upload",
                            tip: '上传图片',
                        },
                    {% endif %}
                    'edit-mode',
                    {
                        name: 'more',
                        toolbar: [
                            'insert-after',
                            'fullscreen',
                            'preview',
                            'info',
                            'help',
                        ],
                    },
                ], hint: {
                    emoji: {{ emoji|safe }}
                },
                // 文件上传配置
                upload: {
                    accept: "image/*",
                    url: "/api/upload/",
                    max: 5 * 1024 * 1024,
                    filename(name) {
                        return name
                            .replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, "")
                            .replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, "")
                            .replace("/\\s/g", "");
                    },
                    success(editor, msg) {
                        let responseData = JSON.parse(msg)
                        if (responseData.status) {
                            let imageUrl = responseData.url;
                            let succFileText = "";
                            if (vditor && vditor.vditor.currentMode === "wysiwyg") {
                                succFileText += `\n <img alt=${imageUrl} src="${imageUrl}">`;
                            } else {
                                succFileText += `\n![${imageUrl}](${imageUrl})`;
                            }
                            //将图片路径写入文本
                            document.execCommand("insertHTML", false, succFileText);
                            notyf.success(responseData.msg);
                        } else {
                            notyf.error(responseData.msg);
                        }

                    },
                    error() {
                        notyf.error("上传失败！");
                    }
                },
            })
        } else {
            window.vditor = new Vditor("vditor", {

                // 获取焦点方法
                focus(md) {
                    document.onkeydown = function () {
                        // 判断 Ctrl+S
                        if (event.ctrlKey == true && event.keyCode == 83) {
                            SaveDraft();
                            event.preventDefault();
                        }
                    }
                },
                // _lutePath: "lib/vditor-3.7.3/src/js/lute/lute.min.js",
                // 这个是自定义导航栏
                toolbar,
                "cdn": "{{ cdn_prev }}vditor@3.8.15",
                "fullscreen": {
                    "index": 1050,
                },
                "height": document.documentElement.clientHeight + 60,
                "cache": {
                    "enable": false
                },
                "value": {{ file_content|safe }},
                "mode": "ir",
                "debugger": false,
                "preview": {
                    "mode": "both",
                    "theme": {
                        "path": "{{ cdn_prev }}vditor@3.8.15/dist/css/content-theme"
                    }
                },
                hint: {
                    emoji: {{ emoji|safe }}
                },
                // 文件上传配置
                upload: {
                    accept: "image/*",
                    url: "/api/upload/",
                    max: 5 * 1024 * 1024,
                    filename(name) {
                        return name
                            .replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, "")
                            .replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, "")
                            .replace("/\\s/g", "");
                    },
                    success(editor, msg) {
                        let responseData = JSON.parse(msg)
                        if (responseData.status) {
                            let imageUrl = responseData.url;
                            let succFileText = "";
                            if (vditor && vditor.vditor.currentMode === "wysiwyg") {
                                succFileText += `\n <img alt=${imageUrl} src="${imageUrl}">`;
                            } else {
                                succFileText += `\n![${imageUrl}](${imageUrl})`;
                            }
                            //将图片路径写入文本
                            document.execCommand("insertHTML", false, succFileText);
                            notyf.success(responseData.msg);
                        } else {
                            notyf.error(responseData.msg);
                        }

                    },
                    error() {
                        notyf.error("上传失败！");
                    }
                },
            });
        }

        function show_tags() {
            let html = "";
            for (let i = 0; i < tags.length; i++) {
                html += `<span class="px-1 py-0.5 text-xs select-none
                            d-inline-block  rounded-pill mr-1 mb-0.5"
                            style="color: rgb(255, 255, 255); background-color: rgb(52, 152, 219);"
                            onclick="del_tag(this.innerText);">` + tags[i]
                    + `</span>`;
            }
            $("#tag-container").html(html);
        }

        function add_tag(name) {
            if (name in tags) {
                notyf.error("标签已存在! ");
            } else {
                tags.push(name);
                show_tags();
            }
        }

        function del_tag(name) {
            for (let i = 0; i < tags.length; i++) {
                if (String(tags[i]) === String(name)) {
                    tags.splice(i, 1);
                }
            }
            $("#tag").val(String(name));
            show_tags();
        }

        function show_categories() {
            let html = "";
            for (let i = 0; i < categories.length; i++) {
                html += `<span class="px-1 py-0.5 text-xs select-none
                            d-inline-block  rounded-pill mr-1 mb-0.5"
                            style="color: rgb(255, 255, 255); background-color: rgb(52, 152, 219);
                            " onclick="del_category(this.innerText);">` + categories[i] + `</span>`;
            }
            $("#category-container").html(html);
        }

        function add_category(name) {
            if (name in categories) {
                notyf.error("分类已存在! ");
            } else {
                categories.push(name);
                show_categories();
            }
        }

        function del_category(name) {
            for (let i = 0; i < categories.length; i++) {
                if (String(categories[i]) === String(name)) {
                    categories.splice(i, 1);
                }
            }
            $("#category").val(String(name));
            show_categories();
        }

        show_tags();
        show_categories();

        delete front_matter["title"];
        delete front_matter["date"];
        delete front_matter["abbrlink"];
        delete front_matter["tags"];
        delete front_matter["updated"];
        delete front_matter["categories"];
        $("#custom").val(JSON.stringify(front_matter));

        function get_front_matter() {
            let custom = JSON.parse($("#custom").val());
            custom["title"] = $("#title").val();
            custom["date"] = $("#date").val();
            if ($("#abbrlink").length > 0) front_matter["abbrlink"] = $("#abbrlink").val();
            custom["tags"] = tags;
            custom["categories"] = categories;
            custom["updated"] = $("#updated").val();
            return custom;
        }

        window.onbeforeunload = function (e) {
            e = e || window.event;
            if (e) {
                e.returnValue = '确定要离开吗?';
            }
            return '确定要离开吗?';
        }
    </script>
{% endblock javascripts %}
