{% extends 'layouts/base.html' %}

{% block title %} 编辑页面: {{ filename }} {% endblock title %}

{% block content %}

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">正在编辑: {{ filename }}</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="/pages.html">页面</a></li>
                                <li class="breadcrumb-item active" aria-current="page">编辑</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="/pages.html" class="btn btn-sm btn-neutral">页面列表</a>
                        <a href="javascript:SaveChanges()" class="btn btn-sm btn-neutral">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div id="vditor"></div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <link href="https://cdn.jsdelivr.net/npm/vditor@3.8.7/dist/index.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vditor@3.8.7/dist/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/am-abudu/Qexo@latest/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/am-abudu/Qexo@latest/static/assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        function KZ_Loading(config) {
            if (this instanceof KZ_Loading) {
                const domTemplate = '<div class="modal kz-loading" data-kzid="@@KZ_Loadin_ID@@" backdrop="static" keyboard="false"><div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px"><div class="progress progress-striped active" style="margin-bottom: 0;"><div class="progress-bar" style="width: 100%;"></div></div><h5>@@KZ_Loading_Text@@</h5></div></div>';
                this.config = {
                    content: 'loading...',
                    time: 0,
                };
                if (config != null) {
                    if (typeof config === 'string') {
                        this.config = Object.assign(this.config, {
                            content: config
                        });
                    } else if (typeof config === 'object') {
                        this.config = Object.assign(this.config, config);
                    }
                }
                this.id = new Date().getTime().toString();
                this.state = 'hide';

                /*显示 */
                this.show = function () {
                    $('.kz-loading[data-kzid=' + this.id + ']').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    this.state = 'show';
                    if (this.config.time > 0) {
                        var that = this;
                        setTimeout(function () {
                            that.hide();
                        }, this.config.time);
                    }
                };
                /*隐藏 */
                this.hide = function (callback) {
                    $('.kz-loading[data-kzid=' + this.id + ']').modal('hide');
                    this.state = 'hide';
                    if (callback) {
                        callback();
                    }
                };
                /*销毁dom */
                this.destroy = function () {
                    var that = this;
                    this.hide(function () {
                        var node = $('.kz-loading[data-kzid=' + that.id + ']');
                        node.next().remove();
                        node.remove();
                        that.show = function () {
                            throw new Error('对象已销毁！');
                        };
                        that.hide = function () {
                        };
                        that.destroy = function () {
                        };
                    });
                }

                var domHtml = domTemplate.replace('@@KZ_Loadin_ID@@', this.id).replace('@@KZ_Loading_Text@@', this.config.content);
                $('body').append(domHtml);
            } else {
                return new KZ_Loading(config);
            }
        }

        function SaveChanges() {
            var loading = new KZ_Loading('正在保存中...');
            loading.show();
            $.ajax({
                url: '/api/save/',
                method: 'post',
                data: {"file": "{{ file_path }}", "content": vditor.getValue()},
                dataType: 'JSON',
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        var notify = $.notify('保存成功！', {type: "success", delay: 1000});
                    } else {
                        var notify = $.notify(res.msg, {type: "warning", delay: 1000});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    var notify = $.notify("网络错误！", {type: "warning", delay: 1000});
                }
            })

        }

        function fIsMobile() {
            return /Android|iPhone|iPad|iPod|BlackBerry|webOS|Windows Phone|SymbianOS|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }

        var toolbar;
        toolbar = [
            "emoji",
            "headings",
            "bold",
            "italic",
            "strike",
            "link",
            "|",
            "list",
            "ordered-list",
            "check",
            "|",
            "quote",
            "line",
            "code",
            "inline-code",
            "|",
            {% if img_bed %}
                {
                    name: "upload",
                    tip: '上传图片',
                },
            {% endif %}
            "table",
            "export",
            "|",
            "fullscreen",
            "preview"
        ];
        //挂载到全局
        if (fIsMobile()) {
            window.vditor = new Vditor('vditor', {
                toolbarConfig: {
                    pin: true
                },
                counter: {
                    enable: true
                },
                "height": window.innerHeight / 2,
                "value": {{ file_content|safe }},
                "fullscreen": {
                    "index": 1050,
                },
                "debugger": false,
                "cache": {
                    "enable": false,
                },
                toolbar: [
                    'emoji',
                    'link',
                    {% if img_bed %}
                        {
                            name: "upload",
                            tip: '上传图片',
                        },
                    {% endif %}
                    'edit-mode',
                    {
                        name: 'more',
                        toolbar: [
                            'insert-after',
                            'fullscreen',
                            'preview',
                            'info',
                            'help',
                        ],
                    },
                ], hint: {
                    emoji: {
                        "\u5fae\u7b11": "\ud83d\ude42",
                        "\u6487\u5634": "\ud83d\ude26",
                        "\u8272": "\ud83d\ude0d",
                        "\u53d1\u5446": "\ud83d\ude0d",
                        "\u5f97\u610f": "\ud83d\ude0e",
                        "\u6d41\u6cea": "\ud83d\ude2d",
                        "\u5bb3\u7f9e": "\ud83d\ude0a",
                        "\u95ed\u5634": "\ud83d\ude37",
                        "\u7761": "\ud83d\ude34",
                        "\u5927\u54ed ": "\ud83d\ude21",
                        "\u5c34\u5c2c": "\ud83d\ude21",
                        "\u53d1\u6012": "\ud83d\ude1b",
                        "\u8c03\u76ae": "\ud83d\ude00",
                        "\u5472\u7259": "\ud83d\ude2f",
                        "\u60ca\u8bb6": "\ud83d\ude41",
                        "\u96be\u8fc7": "\ud83d\ude0e",
                        "\u9177": "\ud83d\ude28",
                        "\u51b7\u6c57": "\ud83d\ude31",
                        "\u6293\u72c2": "\ud83d\ude35",
                        "\u5410 ": "\ud83d\ude0b",
                        "\u5077\u7b11": "\u263a",
                        "\u6109\u5feb": "\ud83d\ude44",
                        "\u767d\u773c": "\ud83d\ude44",
                        "\u50b2\u6162": "\ud83d\ude0b",
                        "\u9965\u997f": "\ud83d\ude2a",
                        "\u56f0": "\ud83d\ude2b",
                        "\u60ca\u6050": "\ud83d\ude13",
                        "\u6d41\u6c57": "\ud83d\ude03",
                        "\u61a8\u7b11": "\ud83d\ude03",
                        "\u60a0\u95f2 ": "\ud83d\ude06",
                        "\u594b\u6597": "\ud83d\ude06",
                        "\u5492\u9a82": "\ud83d\ude06",
                        "\u7591\u95ee": "\ud83d\ude06",
                        "\u5618": "\ud83d\ude35",
                        "\u6655": "\ud83d\ude06",
                        "\u75af\u4e86": "\ud83d\ude06",
                        "\u8870": "\ud83d\ude06",
                        "\u9ab7\u9ac5": "\ud83d\udc80",
                        "\u6572\u6253": "\ud83d\ude2c",
                        "\u518d\u89c1 ": "\ud83d\ude18",
                        "\u64e6\u6c57": "\ud83d\ude06",
                        "\u62a0\u9f3b": "\ud83d\ude06",
                        "\u9f13\u638c": "\ud83d\udc4f",
                        "\u7cd7\u5927\u4e86": "\ud83d\ude06",
                        "\u574f\u7b11": "\ud83d\ude06",
                        "\u5de6\u54fc\u54fc": "\ud83d\ude06",
                        "\u53f3\u54fc\u54fc": "\ud83d\ude06",
                        "\u54c8\u6b20": "\ud83d\ude06",
                        "\u9119\u89c6": "\ud83d\ude06",
                        "\u59d4\u5c48 ": "\ud83d\ude06",
                        "\u5feb\u54ed\u4e86": "\ud83d\ude06",
                        "\u9634\u9669": "\ud83d\ude06",
                        "\u4eb2\u4eb2": "\ud83d\ude18",
                        "\u5413": "\ud83d\ude13",
                        "\u53ef\u601c": "\ud83d\ude06",
                        "\u83dc\u5200": "\ud83d\udd2a",
                        "\u897f\u74dc": "\ud83c\udf49",
                        "\u5564\u9152": "\ud83c\udf7a",
                        "\u7bee\u7403": "\ud83c\udfc0",
                        "\u4e52\u4e53 ": "\u26aa",
                        "\u5496\u5561": "\u2615",
                        "\u996d": "\ud83c\udf5a",
                        "\u732a\u5934": "\ud83d\udc37",
                        "\u73ab\u7470": "\ud83c\udf39",
                        "\u51cb\u8c22": "\ud83c\udf39",
                        "\u5634\u5507": "\ud83d\udc44",
                        "\u7231\u5fc3": "\ud83d\udc97",
                        "\u5fc3\u788e": "\ud83d\udc94",
                        "\u86cb\u7cd5": "\ud83c\udf82",
                        "\u95ea\u7535 ": "\u26a1",
                        "\u70b8\u5f39": "\ud83d\udca3",
                        "\u5200": "\ud83d\udde1",
                        "\u8db3\u7403": "\u26bd",
                        "\u74e2\u866b": "\ud83d\udc1e",
                        "\u4fbf\u4fbf": "\ud83d\udca9",
                        "\u6708\u4eae": "\ud83c\udf19",
                        "\u592a\u9633": "\u2600",
                        "\u793c\u7269": "\ud83c\udf81",
                        "\u62e5\u62b1": "\ud83e\udd17",
                        "\u5f3a ": "\ud83d\udc4d",
                        "\u5f31": "\ud83d\udc4e",
                        "\u63e1\u624b": "\ud83d\udc4d",
                        "\u80dc\u5229": "\u270c",
                        "\u62b1\u62f3": "\u270a",
                        "\u52fe\u5f15": "\u270c",
                        "\u62f3\u5934": "\u270a",
                        "\u5dee\u52b2": "\u270c",
                        "\u7231\u4f60": "\u270c",
                        "NO": "\u270c",
                        "OK": "\ud83d\ude42",
                        "\u563f\u54c8": "\ud83d\ude42",
                        "\u6342\u8138": "\ud83d\ude42",
                        "\u5978\u7b11": "\ud83d\ude42",
                        "\u673a\u667a": "\ud83d\ude42",
                        "\u76b1\u7709": "\ud83d\ude42",
                        "\u8036": "\ud83d\ude42",
                        "\u5403\u74dc": "\ud83d\ude42",
                        "\u52a0\u6cb9": "\ud83d\ude42",
                        "\u6c57": "\ud83d\ude42",
                        "\u5929\u554a": "\ud83d\udc4c",
                        "\u793e\u4f1a\u793e\u4f1a": "\ud83d\ude42",
                        "\u65fa\u67f4": "\ud83d\ude42",
                        "\u597d\u7684": "\ud83d\ude42",
                        "\u54c7": "\ud83d\ude42"
                    }
                },
                // 文件上传配置
                upload: {
                    accept: "image/*",
                    url: "/api/upload/",
                    filename(name) {
                        return name
                            .replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, "")
                            .replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, "")
                            .replace("/\\s/g", "");
                    },
                    success(editor, msg) {
                        let responseData = JSON.parse(msg)
                        if (responseData.status) {
                            let imageUrl = responseData.url;
                            let succFileText = "";
                            if (vditor && vditor.vditor.currentMode === "wysiwyg") {
                                succFileText += `\n <img alt=${imageUrl} src="${imageUrl}">`;
                            } else {
                                succFileText += `\n![${imageUrl}](${imageUrl})`;
                            }
                            //将图片路径写入文本
                            document.execCommand("insertHTML", false, succFileText);
                            let notify = $.notify(responseData.msg, {type: "success", delay: 1000});
                        } else {
                            let notify = $.notify(responseData.msg, {type: "warning", delay: 1000});
                        }

                    },
                    error() {
                        let notify = $.notify("上传失败！", {type: "warning", delay: 1000});
                    }
                },
            })
        } else {
            window.vditor = new Vditor("vditor", {

                // 获取焦点方法
                focus(md) {
                    document.onkeydown = function () {
                        // 判断 Ctrl+S
                        if (event.ctrlKey == true && event.keyCode == 83) {
                            SaveChanges();
                            event.preventDefault();
                        }
                    }
                },
                // _lutePath: "lib/vditor-3.7.3/src/js/lute/lute.min.js",
                // 这个是自定义导航栏
                toolbar,
                "fullscreen": {
                    "index": 1050,
                },
                "height": document.documentElement.clientHeight - 200,
                "cache": {
                    "enable": false
                },
                "value": {{ file_content|safe }},
                "mode": "sv",
                "debugger": false,
                "preview": {
                    "mode": "both"
                }, hint: {
                    emoji: {
                        "\u5fae\u7b11": "\ud83d\ude42",
                        "\u6487\u5634": "\ud83d\ude26",
                        "\u8272": "\ud83d\ude0d",
                        "\u53d1\u5446": "\ud83d\ude0d",
                        "\u5f97\u610f": "\ud83d\ude0e",
                        "\u6d41\u6cea": "\ud83d\ude2d",
                        "\u5bb3\u7f9e": "\ud83d\ude0a",
                        "\u95ed\u5634": "\ud83d\ude37",
                        "\u7761": "\ud83d\ude34",
                        "\u5927\u54ed ": "\ud83d\ude21",
                        "\u5c34\u5c2c": "\ud83d\ude21",
                        "\u53d1\u6012": "\ud83d\ude1b",
                        "\u8c03\u76ae": "\ud83d\ude00",
                        "\u5472\u7259": "\ud83d\ude2f",
                        "\u60ca\u8bb6": "\ud83d\ude41",
                        "\u96be\u8fc7": "\ud83d\ude0e",
                        "\u9177": "\ud83d\ude28",
                        "\u51b7\u6c57": "\ud83d\ude31",
                        "\u6293\u72c2": "\ud83d\ude35",
                        "\u5410 ": "\ud83d\ude0b",
                        "\u5077\u7b11": "\u263a",
                        "\u6109\u5feb": "\ud83d\ude44",
                        "\u767d\u773c": "\ud83d\ude44",
                        "\u50b2\u6162": "\ud83d\ude0b",
                        "\u9965\u997f": "\ud83d\ude2a",
                        "\u56f0": "\ud83d\ude2b",
                        "\u60ca\u6050": "\ud83d\ude13",
                        "\u6d41\u6c57": "\ud83d\ude03",
                        "\u61a8\u7b11": "\ud83d\ude03",
                        "\u60a0\u95f2 ": "\ud83d\ude06",
                        "\u594b\u6597": "\ud83d\ude06",
                        "\u5492\u9a82": "\ud83d\ude06",
                        "\u7591\u95ee": "\ud83d\ude06",
                        "\u5618": "\ud83d\ude35",
                        "\u6655": "\ud83d\ude06",
                        "\u75af\u4e86": "\ud83d\ude06",
                        "\u8870": "\ud83d\ude06",
                        "\u9ab7\u9ac5": "\ud83d\udc80",
                        "\u6572\u6253": "\ud83d\ude2c",
                        "\u518d\u89c1 ": "\ud83d\ude18",
                        "\u64e6\u6c57": "\ud83d\ude06",
                        "\u62a0\u9f3b": "\ud83d\ude06",
                        "\u9f13\u638c": "\ud83d\udc4f",
                        "\u7cd7\u5927\u4e86": "\ud83d\ude06",
                        "\u574f\u7b11": "\ud83d\ude06",
                        "\u5de6\u54fc\u54fc": "\ud83d\ude06",
                        "\u53f3\u54fc\u54fc": "\ud83d\ude06",
                        "\u54c8\u6b20": "\ud83d\ude06",
                        "\u9119\u89c6": "\ud83d\ude06",
                        "\u59d4\u5c48 ": "\ud83d\ude06",
                        "\u5feb\u54ed\u4e86": "\ud83d\ude06",
                        "\u9634\u9669": "\ud83d\ude06",
                        "\u4eb2\u4eb2": "\ud83d\ude18",
                        "\u5413": "\ud83d\ude13",
                        "\u53ef\u601c": "\ud83d\ude06",
                        "\u83dc\u5200": "\ud83d\udd2a",
                        "\u897f\u74dc": "\ud83c\udf49",
                        "\u5564\u9152": "\ud83c\udf7a",
                        "\u7bee\u7403": "\ud83c\udfc0",
                        "\u4e52\u4e53 ": "\u26aa",
                        "\u5496\u5561": "\u2615",
                        "\u996d": "\ud83c\udf5a",
                        "\u732a\u5934": "\ud83d\udc37",
                        "\u73ab\u7470": "\ud83c\udf39",
                        "\u51cb\u8c22": "\ud83c\udf39",
                        "\u5634\u5507": "\ud83d\udc44",
                        "\u7231\u5fc3": "\ud83d\udc97",
                        "\u5fc3\u788e": "\ud83d\udc94",
                        "\u86cb\u7cd5": "\ud83c\udf82",
                        "\u95ea\u7535 ": "\u26a1",
                        "\u70b8\u5f39": "\ud83d\udca3",
                        "\u5200": "\ud83d\udde1",
                        "\u8db3\u7403": "\u26bd",
                        "\u74e2\u866b": "\ud83d\udc1e",
                        "\u4fbf\u4fbf": "\ud83d\udca9",
                        "\u6708\u4eae": "\ud83c\udf19",
                        "\u592a\u9633": "\u2600",
                        "\u793c\u7269": "\ud83c\udf81",
                        "\u62e5\u62b1": "\ud83e\udd17",
                        "\u5f3a ": "\ud83d\udc4d",
                        "\u5f31": "\ud83d\udc4e",
                        "\u63e1\u624b": "\ud83d\udc4d",
                        "\u80dc\u5229": "\u270c",
                        "\u62b1\u62f3": "\u270a",
                        "\u52fe\u5f15": "\u270c",
                        "\u62f3\u5934": "\u270a",
                        "\u5dee\u52b2": "\u270c",
                        "\u7231\u4f60": "\u270c",
                        "NO": "\u270c",
                        "OK": "\ud83d\ude42",
                        "\u563f\u54c8": "\ud83d\ude42",
                        "\u6342\u8138": "\ud83d\ude42",
                        "\u5978\u7b11": "\ud83d\ude42",
                        "\u673a\u667a": "\ud83d\ude42",
                        "\u76b1\u7709": "\ud83d\ude42",
                        "\u8036": "\ud83d\ude42",
                        "\u5403\u74dc": "\ud83d\ude42",
                        "\u52a0\u6cb9": "\ud83d\ude42",
                        "\u6c57": "\ud83d\ude42",
                        "\u5929\u554a": "\ud83d\udc4c",
                        "\u793e\u4f1a\u793e\u4f1a": "\ud83d\ude42",
                        "\u65fa\u67f4": "\ud83d\ude42",
                        "\u597d\u7684": "\ud83d\ude42",
                        "\u54c7": "\ud83d\ude42"
                    }
                },
                // 文件上传配置
                upload: {
                    accept: "image/*",
                    url: "/api/upload/",
                    filename(name) {
                        return name
                            .replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, "")
                            .replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, "")
                            .replace("/\\s/g", "");
                    },
                    success(editor, msg) {
                        let responseData = JSON.parse(msg)
                        if (responseData.status) {
                            let imageUrl = responseData.url;
                            let succFileText = "";
                            if (vditor && vditor.vditor.currentMode === "wysiwyg") {
                                succFileText += `\n <img alt=${imageUrl} src="${imageUrl}">`;
                            } else {
                                succFileText += `\n![${imageUrl}](${imageUrl})`;
                            }
                            //将图片路径写入文本
                            document.execCommand("insertHTML", false, succFileText);
                            let notify = $.notify(responseData.msg, {type: "success", delay: 1000});
                        } else {
                            let notify = $.notify(responseData.msg, {type: "warning", delay: 1000});
                        }

                    },
                    error() {
                        let notify = $.notify("上传失败！", {type: "warning", delay: 1000});
                    }
                },
            });
        }
    </script>
{% endblock javascripts %}
