{% extends 'layouts/base.html' %}

{% block title %}
    {% if search %}{{ "SEARCH_FLINK" | gettext }}:
        {{ search }}{% else %}{{ "FLINK_LABEL" | gettext }}
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>{% if search %}{{ "SEARCH_FLINK" | gettext }}:
                            {{ search }}{% else %}{{ "FLINK_LABEL" | gettext }}
                        {% endif %}
                            (<span id="post-number">{{ post_number }}</span>{{ "MEASURE_LINK" | gettext }})
                            <a href="javascript:query_new()" class="text-primary text-lg">
                                <i class="fa-solid fa-user-plus"></i>
                            </a>
                        </h6>

                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="px-1 text-secondary">{{ "NAME" | gettext }}</span>
                                    </th>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="text-secondary">{{ "LINK" | gettext }}</span>
                                    </th>
                                    <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="text-secondary">{{ "IMAGE" | gettext }}</span>
                                    </th>
                                    <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="text-secondary">{{ "STATUS" | gettext }}</span>
                                    </th>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="text-secondary">{{ "DESCRIPTION" | gettext }}</span>
                                    </th>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="text-secondary">{{ "OPERATION" | gettext }}</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="posts-list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer py-4">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item" id="prev-page">
                                <a class="page-link"
                                   href="javascript:prev_page()">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">{{ "PREV_PAGE" | gettext }}</span>
                                </a>
                            </li>
                            {% for i in page_number|get_range %}
                                <li class="page-item" id="page-{{ i }}">
                                    <a class="page-link"
                                       href="javascript:change_page({{ i }})">{{ i }}</a>
                                </li>
                            {% endfor %}

                            <li class="page-item" id="next-page">
                                <a class="page-link"
                                   href="javascript:next_page()">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">{{ "NEXT_PAGE" | gettext }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-white">
                <div class="modal-header" style="border: none;">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">{{ "TIPS" | gettext }}</h5>
                    <button type="button" data-bs-dismiss="modal"
                            aria-label="Close" style="box-sizing: content-box;width: 1em;height:
                            1em;padding: .25em;color: #8392ab;border: 0;border-radius: .375rem;
                            opacity: .5;background: none">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ "DEL_CONFIRM_1" | gettext }} <a
                        id="delfile"></a> {{ "DEL_CONFIRM_2" | gettext }}
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ "CANCEL" | gettext }}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="delete_file()"
                            data-bs-dismiss="modal">{{ "CONFIRM" | gettext }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="query" tabindex="-1" aria-labelledby="queryLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-white">
                <div class="modal-header" style="border: none;">
                    <h5 class="modal-title fs-5" id="queryLabel"></h5>
                    <button type="button" data-bs-dismiss="modal"
                            aria-label="Close" style="box-sizing: content-box;width: 1em;height:
                            1em;padding: .25em;color: #8392ab;border: 0;border-radius: .375rem;
                            opacity: .5;background: none">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="query-modal-body">
                </div>
                <div class="modal-footer" style="border: none;" id="query-modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>
        var posts = {{ posts|safe }};
        var _page = 1;
        var del_file;

        function change_page(page) {
            scrollToTop();
            let color = checkIfDark() ? "text-white" : "text-dark";
            let post_temp = `<tr>
                                <td>
                                    <div class="d-flex px-4 py-1">
                                        <h6 class="mb-0 text-sm">@@name@@</h6>

                                    </div>
                                </td>
                                <td>
                                    <a href="@@url@@" target="_blank"><i class="fas fa-link text-primary"></i></a>
                                    <span class="text-xs font-weight-bold opacity-8
                                    ${color}">@@url@@</span>
                                </td>
                                 <td class="text-center">
                                    <a href="@@image@@" target="_blank"><i class="fa fa-external-link-alt text-primary"></i></a>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    @@status@@
                                </td>
                                 <td>
                                    <span class="text-xs font-weight-bold opacity-8
                                    ${color}">@@description@@</span>
                                </td>
                                <td class="align-middle">
                                    <a href="javascript:query_edit('@@time@@')"><i class="fa fa-edit
                                    text-primary text-xxs"></i></a>
                                    |
                                    <a href="javascript:query_delete('@@name@@','@@time@@')"><i
                                    class="fa fa-trash-alt me-2 text-primary text-xxs"></i></a>
                                </td>
                            </tr>`;
            let page_posts;
            if (posts.length > page * 15 + 1) {
                page_posts = posts.slice(15 * (page - 1), page * 15);
            } else {
                page_posts = posts.slice(15 * (page - 1));
            }
            let list = "";
            for (let i = 0; i < page_posts.length; i++) {
                let status = page_posts[i].status ? `<span class="badge badge-sm
                bg-gradient-success">显示</span>` : `<span class="badge badge-sm
                bg-gradient-secondary">隐藏</span>`;
                list += post_temp.replaceAll("@@name@@", excerpt_by_local(page_posts[i].name, 20))
                    .replaceAll("@@url@@", page_posts[i].url)
                    .replaceAll("@@image@@", page_posts[i].image)
                    .replaceAll("@@description@@", excerpt_by_local(page_posts[i].description, 35))
                    .replaceAll("@@status@@", status)
                    .replaceAll("@@time@@", page_posts[i].time);
            }
            $("#page-" + _page).removeClass("active");
            $("#page-" + _page).children().removeClass("text-white");
            $("#page-" + page).addClass("active");
            $("#page-" + page).children().addClass("text-white");
            $("#posts-list").html(list);
            _page = page;
            if (page <= 1) {
                $("#prev-page").addClass("disabled");
            } else {
                $("#prev-page").removeClass("disabled");
            }
            if (page >= {{ page_number }}) {
                $("#next-page").addClass("disabled");
            } else {
                $("#next-page").removeClass("disabled");
            }
        }

        function prev_page() {
            if (_page > 1) {
                change_page(_page - 1);
            } else {
                notyf.error("{{ "NO_PREV_PAGE" | gettext }}");
            }
        }

        function next_page() {
            if (_page < {{ page_number }}) {
                change_page(_page + 1);
            } else {
                notyf.error("{{ "NO_NEXT_PAGE" | gettext }}");
            }
        }

        change_page(1);

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });


        function query_delete(name, time) {
            del_file = time;
            $("#delfile").text(name);
            $("#deleteModal").modal("show");
        }


        function delete_file() {
            let loading = new KZ_Loading('{{ "DELETING" | gettext }}');
            loading.show();
            $.ajax({
                url: '/api/del_friend/',
                method: 'post',
                data: {"time": del_file},
                dataType: 'JSON',
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success('{{ "DEL_SUCCESS" | gettext }}');
                        for (let i = 0; i < posts.length; i++) {
                            if (posts[i]["time"] === del_file) {
                                posts.splice(i, 1);
                                $("#post-number").html(posts.length);
                                break;
                            }
                        }
                        change_page(_page);
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }

        function query_edit(time) {
            let name, url, image, description, index, status;
            let color = checkIfDark() ? "bg-gradient-dark text-white" : "bg-white text-dark";
            for (let i = 0; i < posts.length; i++) {
                if (posts[i]["time"] == time) {
                    name = posts[i]["name"];
                    url = posts[i]["url"];
                    image = posts[i]["image"];
                    description = posts[i]["description"];
                    status = posts[i]["status"]
                    index = i;
                    break;
                }
            }
            let html = `<div class="form-group"><label class="form-control-label">{{ "NAME" | gettext }}</label><input type="text"
                                                                                                 name="name"
                                                                                                 id="edit-name"
                                                                                                 value="${name}"
                                                                                                 class="form-control ${color}">
                        </div>
                        <div class="form-group"><label class="form-control-label">{{ "LINK" | gettext }}</label><input type="text"
                                                                                                 name="url"
                                                                                                 id="edit-url"
                                                                                                 value="${url}"
                                                                                                 class="form-control ${color}">
                        </div>
                        <div class="form-group"><label class="form-control-label">{{ "IMAGE_LINK" | gettext }}</label><input type="text"
                                                                                                     name="image"
                                                                                                     id="edit-image"
                                                                                                     value="${image}"
                                                                                                     class="form-control ${color}">
                        </div>
                        <div class="form-group"><label class="form-control-label">{{ "DESCRIPTION" | gettext }}</label><input type="text"
                                                                                                 name="description"
                                                                                                 id="edit-description"
                                                                                                 value="${description}"
                                                                                                 class="form-control ${color}">
                        </div>
                        <div class="form-group"><label class="form-control-label">{{ "STATUS" | gettext }}</label><select
                                class="form-control ${color}" id="edit-status">`;
            if (status) {
                html += "<option selected>显示</option><option>隐藏</option></select></div>";
            } else {
                html += "<option>显示</option><option selected>隐藏</option></select></div>";
            }
            $("#query-modal-body").html(html);
            $("#queryLabel").html("{{ "EDIT_FLINK" | gettext }}");
            let footer = "<button type=\"button\" class=\"btn btn-secondary\" " +
                "data-bs-dismiss=\"modal\">{{ "CANCEL" | gettext }}</button><button type=\"button\" class=\"btn " +
                "btn-primary\" data-bs-dismiss=\"modal\" onclick=\"edit_friend(" + index + ")" +
                "\">{{ "CONFIRM" | gettext }}</button>";
            $("#query-modal-footer").html(footer);
            $("#query").modal("show");
        }

        function compare() {
            return function (a, b) {
                return a.time < b.time ? 1 : -1;
            }
        }


        function edit_friend(index) {
            let name = $("#edit-name").val();
            let description = $("#edit-description").val();
            let url = $("#edit-url").val();
            let image = $("#edit-image").val();
            let status = $("#edit-status").val();
            let loading = new KZ_Loading('{{ "SAVING" | gettext }}');
            loading.show();
            $.ajax({
                url: '/api/edit_friend/',
                method: 'post',
                data: {
                    "name": name, "url": url, "image": image, "description":
                    description, "time": posts[index]["time"], "status": status
                },
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success(res.msg);
                        posts[index]["name"] = name;
                        posts[index]["url"] = url;
                        posts[index]["image"] = image;
                        posts[index]["description"] = description;
                        posts[index]["status"] = status === "显示";
                        posts.sort(compare);
                        change_page(_page);
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }


        function query_new() {
            let color = checkIfDark() ? "bg-gradient-dark text-white" : "bg-white text-dark";
            let html = `<div class="form-group"><label class="form-control-label">{{ "NAME" | gettext }}</label><input type="text"
                                                                                                 name="name"
                                                                                                 id="edit-name"
                                                                                                 class="form-control ${color}">
                        </div>
                        <div class="form-group"><label class="form-control-label">{{ "LINK" | gettext }}</label><input type="text"
                                                                                                 name="url"
                                                                                                 id="edit-url"
                                                                                                 class="form-control ${color}">
                        </div>
                        <div class="form-group"><label class="form-control-label">{{ "IMAGE_LINK" | gettext }}</label><input type="text"
                                                                                                     name="image"
                                                                                                     id="edit-image"
                                                                                                     class="form-control ${color}">
                        </div>
                        <div class="form-group"><label class="form-control-label">{{ "DESCRIPTION" | gettext }}</label><input type="text"
                                                                                                 name="description"
                                                                                                 id="edit-description"
                                                                                                 class="form-control ${color}">
                        </div>
                        <div class="form-group"><label class="form-control-label">{{ "STATUS" | gettext }}</label><select
                                class="form-control ${color}" id="edit-status"><option>显示</option><option>隐藏</option></select></div>`;
            $("#query-modal-body").html(html);
            $("#queryLabel").html("{{ "NEW_FLINK" | gettext }}");
            let footer = "<button type=\"button\" class=\"btn btn-secondary\" " +
                "data-bs-dismiss=\"modal\">{{ "CANCEL" | gettext }}</button><button type=\"button\" class=\"btn " +
                "btn-primary\" data-bs-dismiss=\"modal\" onclick=\"new_friend()\">{{ "CONFIRM" | gettext }}</button>"
            $("#query-modal-footer").html(footer);
            $("#query").modal("show");
        }

        function new_friend() {
            let name = $("#edit-name").val();
            let description = $("#edit-description").val();
            let url = $("#edit-url").val();
            let image = $("#edit-image").val();
            let loading = new KZ_Loading('{{ "SAVING" | gettext }}');
            let status = $("#edit-status").val()
            loading.show();
            $.ajax({
                url: '/api/add_friend/',
                method: 'post',
                data: {
                    "name": name, "url": url, "image": image, "description":
                    description, "status": status
                },
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success(res.msg);
                        posts.push({
                            "name": name,
                            "url": url,
                            "image": image,
                            "time": res.time,
                            "description": description,
                            "status": status === "显示"
                        });
                        posts.sort(compare);
                        change_page(_page);
                        $("#count").html(posts.length);
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }


        function query_clean() {
            let html = "{{ "CONFIRM_CLEAN_FLINK" | gettext }}";
            $("#query-modal-body").html(html);
            $("#queryLabel").html("{{ "TIPS" | gettext }}");
            let footer = "<button type=\"button\" class=\"btn btn-secondary\" " +
                "data-bs-dismiss=\"modal\">{{ "CANCEL" | gettext }}</button><button type=\"button\" class=\"btn " +
                "btn-primary\" data-bs-dismiss=\"modal\" onclick=\"clean_friend()\">{{ "CONFIRM" | gettext }}</button>"
            $("#query-modal-footer").html(footer);
            $("#query").modal("show");
        }


        function clean_friend() {
            let loading = new KZ_Loading();
            loading.show();
            $.ajax({
                url: '/api/clean_friend/',
                method: 'get',
                dataType: 'json',
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success(res.msg);
                        setTimeout(location.reload(), 1000);
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }


    </script>
{% endblock javascripts %}
