{% extends 'layouts/base.html' %}

{% block title %} 新建页面 {% endblock title %}

{% block content %}

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">新建页面:&nbsp;&nbsp;</h6>
                        <input type="text" name="filename" class="form-control col-lg-5
                        d-inline-block" placeholder="页面名称">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="/pages.html">页面</a></li>
                                <li class="breadcrumb-item active" aria-current="page">新建</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="/pages.html" class="btn btn-sm btn-neutral">页面列表</a>
                        <a href="javascript:SaveChanges()" class="btn btn-sm btn-neutral">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div id="vditor"></div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <link href="{{ cdn_prev }}vditor@3.8.13/dist/index.css" rel="stylesheet"/>
    <script src="{{ cdn_prev }}vditor@3.8.13/dist/index.min.js"></script>


    <script>
        var _status = true;

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        function KZ_Loading(config) {
            if (this instanceof KZ_Loading) {
                const domTemplate = '<div class="modal kz-loading" data-kzid="@@KZ_Loadin_ID@@" backdrop="static" keyboard="false"><div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px"><div class="progress progress-striped active" style="margin-bottom: 0;"><div class="progress-bar" style="width: 100%;"></div></div><h5>@@KZ_Loading_Text@@</h5></div></div>';
                this.config = {
                    content: 'loading...',
                    time: 0,
                };
                if (config != null) {
                    if (typeof config === 'string') {
                        this.config = Object.assign(this.config, {
                            content: config
                        });
                    } else if (typeof config === 'object') {
                        this.config = Object.assign(this.config, config);
                    }
                }
                this.id = new Date().getTime().toString();
                this.state = 'hide';

                /*显示 */
                this.show = function () {
                    $('.kz-loading[data-kzid=' + this.id + ']').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    this.state = 'show';
                    if (this.config.time > 0) {
                        var that = this;
                        setTimeout(function () {
                            that.hide();
                        }, this.config.time);
                    }
                };
                /*隐藏 */
                this.hide = function (callback) {
                    $('.kz-loading[data-kzid=' + this.id + ']').modal('hide');
                    this.state = 'hide';
                    if (callback) {
                        callback();
                    }
                };
                /*销毁dom */
                this.destroy = function () {
                    var that = this;
                    this.hide(function () {
                        var node = $('.kz-loading[data-kzid=' + that.id + ']');
                        node.next().remove();
                        node.remove();
                        that.show = function () {
                            throw new Error('对象已销毁！');
                        };
                        that.hide = function () {
                        };
                        that.destroy = function () {
                        };
                    });
                }

                var domHtml = domTemplate.replace('@@KZ_Loadin_ID@@', this.id).replace('@@KZ_Loading_Text@@', this.config.content);
                $('body').append(domHtml);
            } else {
                return new KZ_Loading(config);
            }
        }

        function SaveChanges() {
            if (!$("input[name='filename']").val()) {
                notyf.error("请输入正确的页面名！");
            } else {
                if (!_status) {
                    return false;
                }
                let loading = new KZ_Loading('正在保存中...');
                _status = false;
                loading.show();
                $.ajax({
                    url: '/api/new/',
                    method: 'post',
                    data: {
                        "file": "source/" + $("input[name='filename']").val() + "/index.md",
                        "content": vditor.getValue()
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        loading.destroy();
                        if (res.status) {
                            notyf.success('保存成功！');
                            setTimeout(window.location.href = "edit_page.html?file=source/" + $
                            ("input[name='filename']").val() + "/index.md", 1000);
                        } else {
                            notyf.error(res.msg);
                        }
                        _status = true;
                    },
                    error: function (res) {
                        loading.destroy();
                        notyf.error("网络错误！");
                        _status = true;
                    }
                })

            }
        }

        function fIsMobile() {
            return /Android|iPhone|iPad|iPod|BlackBerry|webOS|Windows Phone|SymbianOS|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }

        //挂载到全局
        if (fIsMobile()) {
            window.vditor = new Vditor('vditor', {
                toolbarConfig: {
                    pin: true
                },
                "cdn": "{{ cdn_prev }}vditor@3.8.13",
                "mode": "ir",
                counter: {
                    enable: true
                },
                "height": window.innerHeight / 2,
                {% if file_content %}
                    "value": {{ file_content|safe }},
                {% endif %}
                "fullscreen": {
                    "index": 1050,
                },
                "debugger": false,
                "cache": {
                    "enable": false,
                }, "preview": {
                    "theme": {
                        "path": "{{ cdn_prev }}vditor@3.8.13/dist/css/content-theme"
                    }
                },
                toolbar: [
                    'emoji',
                    'link',
                    {% if img_bed %}
                        {
                            name: "upload",
                            tip: '上传图片',
                        },
                    {% endif %}
                    'edit-mode',
                    {
                        name: 'more',
                        toolbar: [
                            'insert-after',
                            'fullscreen',
                            'preview',
                            'info',
                            'help',
                        ],
                    },
                ], hint: {
                    emoji: {{ emoji|safe }}
                },
                // 文件上传配置
                upload: {
                    accept: "image/*",
                    url: "/api/upload/",
                    max: 5 * 1024 * 1024,
                    filename(name) {
                        return name
                            .replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, "")
                            .replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, "")
                            .replace("/\\s/g", "");
                    },
                    success(editor, msg) {
                        let responseData = JSON.parse(msg)
                        if (responseData.status) {
                            let imageUrl = responseData.url;
                            let succFileText = "";
                            if (vditor && vditor.vditor.currentMode === "wysiwyg") {
                                succFileText += `\n <img alt=${imageUrl} src="${imageUrl}">`;
                            } else {
                                succFileText += `\n![${imageUrl}](${imageUrl})`;
                            }
                            //将图片路径写入文本
                            document.execCommand("insertHTML", false, succFileText);
                            notyf.success(responseData.msg);
                        } else {
                            notyf.error(responseData.msg);
                        }

                    },
                    error() {
                        notyf.error("上传失败！");
                    }
                },
            })
        } else {
            window.vditor = new Vditor("vditor", {

                // 获取焦点方法
                focus(md) {
                    document.onkeydown = function () {
                        // 判断 Ctrl+S
                        if (event.ctrlKey == true && event.keyCode == 83) {
                            SaveChanges();
                            event.preventDefault();
                        }
                    }
                },
                // _lutePath: "lib/vditor-3.7.3/src/js/lute/lute.min.js",
                // 这个是自定义导航栏
                "toolbar": [
                    "emoji",
                    "headings",
                    "bold",
                    "italic",
                    "strike",
                    "link",
                    "|",
                    "list",
                    "ordered-list",
                    "check",
                    "|",
                    "quote",
                    "line",
                    "code",
                    "inline-code",
                    "|",
                    {% if img_bed %}
                        {
                            name: "upload",
                            tip: '上传图片',
                        },
                    {% endif %}
                    "table",
                    "export",
                    "|",
                    "fullscreen",
                    "edit-mode",
                    "preview"
                ],
                "cdn": "{{ cdn_prev }}vditor@3.8.13",
                "fullscreen": {
                    "index": 1050,
                },
                "height": document.documentElement.clientHeight - 200,
                "cache": {
                    "enable": false
                },
                "mode": "sv",
                "debugger": false,
                "preview": {
                    "mode": "both",
                    "theme": {
                        "path": "{{ cdn_prev }}vditor@3.8.13/dist/css/content-theme"
                    }
                }, hint: {
                    emoji: {{ emoji|safe }}
                },
                {% if file_content %}
                    "value": {{ file_content|safe }},
                {% endif %}
                // 文件上传配置
                upload: {
                    accept: "image/*",
                    url: "/api/upload/",
                    max: 5 * 1024 * 1024,
                    filename(name) {
                        return name
                            .replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, "")
                            .replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, "")
                            .replace("/\\s/g", "");
                    },
                    success(editor, msg) {
                        let responseData = JSON.parse(msg)
                        if (responseData.status) {
                            let imageUrl = responseData.url;
                            let succFileText = "";
                            if (vditor && vditor.vditor.currentMode === "ir") {
                                succFileText += `\n <img alt=${imageUrl} src="${imageUrl}">`;
                            } else {
                                succFileText += `\n![${imageUrl}](${imageUrl})`;
                            }
                            //将图片路径写入文本
                            document.execCommand("insertHTML", false, succFileText);
                            notyf.success(responseData.msg);
                        } else {
                            notyf.error(responseData.msg);
                        }

                    },
                    error() {
                        notyf.error("上传失败！");
                    }
                },
            });
        }
    </script>
{% endblock javascripts %}
