{% extends 'layouts/base.html' %}

{% block title %} 新建页面 {% endblock title %}

{% block content %}

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">新建页面:&nbsp;&nbsp;</h6>
                        <input type="text" name="filename" class="form-control col-lg-5
                        d-inline-block rounded-pill" placeholder="页面名称">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="/pages.html">页面</a></li>
                                <li class="breadcrumb-item active" aria-current="page">新建</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="/pages.html" class="btn btn-sm btn-neutral">页面列表</a>
                        <a href="javascript:SaveChanges()" class="btn btn-sm btn-neutral">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="card col-md-8 px-0 ml-md-4">
                <div id="vditor"></div>
            </div>
            <div class="card col-md-3 ml-md-4">
                <h3 class="mt-3">文章参数</h3>
                <hr class="my-2"/>
                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-heading"></i> 标题</label>
                    <input type="text" name="title"
                           class="form-control"
                           placeholder="显示的文章题目"
                           id="title"
                           value="{{ front_matter.title }}">
                </div>
                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-globe-americas"></i>
                        发布于</label>
                    <input type="text" name="date"
                           class="form-control"
                           id="date"
                           placeholder="发布时间"
                           value="{{ front_matter.date }}">
                </div>

                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-calendar-alt"></i>
                        更新于</label>
                    <input type="text" name="updated"
                           class="form-control"
                           id="updated"
                           placeholder="更新时间"
                           value="{{ front_matter.updated }}">
                </div>

                <div class="form-group">
                    <label class="form-control-label"><i class="fas fa-pencil-alt"></i>
                        自定义</label>
                    <textarea name="custom"
                              id="custom"
                              class="form-control"
                              placeholder="自定义Front-Matter"
                              style="height:300px"></textarea>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <link href="{{ cdn_prev }}vditor@3.8.15/dist/index.css" rel="stylesheet"/>
    <script src="{{ cdn_prev }}vditor@3.8.15/dist/index.min.js"></script>


    <script>
        var _status = true, front_matter = {{ json_front_matter|safe }};
        $("#updated").val(getTimeFormat());
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        function getTimeFormat() {
            let date = new Date();
            let month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth()
                + 1;
            let currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            let hh = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            let mm = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            let ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return date.getFullYear() + "-" + month + "-" + currentDate + " " + hh + ":" + mm + ":" + ss;
        }



        function SaveChanges() {
            if (!$("input[name='filename']").val()) {
                notyf.error("请输入正确的页面名！");
            } else {
                if (!_status) {
                    return false;
                }
                let loading = new KZ_Loading('正在保存中...');
                _status = false;
                loading.show();
                $.ajax({
                    url: '/api/save_page/',
                    method: 'post',
                    data: {
                        "file": "source/" + $("input[name='filename']").val() + "/index.md",
                        "content": vditor.getValue(),
                        "front_matter":
                            JSON.stringify(get_front_matter())
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        loading.destroy();
                        if (res.status) {
                            notyf.success('保存成功！');
                            setTimeout(window.location.href = "edit_page.html?file=source/" +
                                encodeURIComponent($("input[name='filename']").val() + "/index.md"), 1000);
                        } else {
                            notyf.error(res.msg);
                        }
                        _status = true;
                    },
                    error: function (res) {
                        loading.destroy();
                        notyf.error("网络错误！");
                        _status = true;
                    }
                })

            }
        }

        function fIsMobile() {
            return /Android|iPhone|iPad|iPod|BlackBerry|webOS|Windows Phone|SymbianOS|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }

        //挂载到全局
        if (fIsMobile()) {
            window.vditor = new Vditor('vditor', {
                toolbarConfig: {
                    pin: true
                },
                "cdn": "{{ cdn_prev }}vditor@3.8.15",
                "mode": "ir",
                counter: {
                    enable: true
                },
                "height": window.innerHeight * 0.75,
                {% if file_content %}
                    "value": {{ file_content|safe }},
                {% endif %}
                "fullscreen": {
                    "index": 1050,
                },
                "debugger": false,
                "cache": {
                    "enable": false,
                }, "preview": {
                    "theme": {
                        "path": "{{ cdn_prev }}vditor@3.8.15/dist/css/content-theme"
                    }
                },
                toolbar: [
                    'emoji',
                    'link',
                    {% if img_bed %}
                        {
                            name: "upload",
                            tip: '上传图片',
                        },
                    {% endif %}
                    'edit-mode',
                    {
                        name: 'more',
                        toolbar: [
                            'insert-after',
                            'fullscreen',
                            'preview',
                            'info',
                            'help',
                        ],
                    },
                ], hint: {
                    emoji: {{ emoji|safe }}
                },
                // 文件上传配置
                upload: {
                    accept: "image/*",
                    url: "/api/upload/",
                    max: 100 * 1024 * 1024,
                    filename(name) {
                        return name
                            .replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, "")
                            .replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, "")
                            .replace("/\\s/g", "");
                    },
                    success(editor, msg) {
                        let responseData = JSON.parse(msg)
                        if (responseData.status) {
                            let imageUrl = responseData.url;
                            let succFileText = "";
                            if (vditor && vditor.vditor.currentMode === "wysiwyg") {
                                succFileText += `\n <img alt=${imageUrl} src="${imageUrl}">`;
                            } else {
                                succFileText += `\n![${imageUrl}](${imageUrl})`;
                            }
                            //将图片路径写入文本
                            document.execCommand("insertHTML", false, succFileText);
                            notyf.success(responseData.msg);
                        } else {
                            notyf.error(responseData.msg);
                        }

                    },
                    error() {
                        notyf.error("上传失败！");
                    }
                },
            })
        } else {
            window.vditor = new Vditor("vditor", {

                // 获取焦点方法
                focus(md) {
                    document.onkeydown = function () {
                        // 判断 Ctrl+S
                        if (event.ctrlKey == true && event.keyCode == 83) {
                            SaveChanges();
                            event.preventDefault();
                        }
                    }
                },
                // _lutePath: "lib/vditor-3.7.3/src/js/lute/lute.min.js",
                // 这个是自定义导航栏
                "toolbar": [
                    "emoji",
                    "headings",
                    "bold",
                    "italic",
                    "strike",
                    "link",
                    "|",
                    "list",
                    "ordered-list",
                    "check",
                    "|",
                    "quote",
                    "line",
                    "code",
                    "inline-code",
                    "|",
                    {% if img_bed %}
                        {
                            name: "upload",
                            tip: '上传图片',
                        },
                    {% endif %}
                    "table",
                    "export",
                    "|",
                    "fullscreen",
                    "edit-mode",
                    "preview"
                ],
                "cdn": "{{ cdn_prev }}vditor@3.8.15",
                "fullscreen": {
                    "index": 1050,
                },
                "height": document.documentElement.clientHeight + 60,
                "cache": {
                    "enable": false
                },
                "mode": "ir",
                "debugger": false,
                "preview": {
                    "mode": "both",
                    "theme": {
                        "path": "{{ cdn_prev }}vditor@3.8.15/dist/css/content-theme"
                    }
                }, hint: {
                    emoji: {{ emoji|safe }}
                },
                {% if file_content %}
                    "value": {{ file_content|safe }},
                {% endif %}
                // 文件上传配置
                upload: {
                    accept: "image/*",
                    url: "/api/upload/",
                    max: 100 * 1024 * 1024,
                    filename(name) {
                        return name
                            .replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, "")
                            .replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, "")
                            .replace("/\\s/g", "");
                    },
                    success(editor, msg) {
                        let responseData = JSON.parse(msg)
                        if (responseData.status) {
                            let imageUrl = responseData.url;
                            let succFileText = "";
                            if (vditor && vditor.vditor.currentMode === "wysiwyg") {
                                succFileText += `\n <img alt=${imageUrl} src="${imageUrl}">`;
                            } else {
                                succFileText += `\n![${imageUrl}](${imageUrl})`;
                            }
                            //将图片路径写入文本
                            document.execCommand("insertHTML", false, succFileText);
                            notyf.success(responseData.msg);
                        } else {
                            notyf.error(responseData.msg);
                        }

                    },
                    error() {
                        notyf.error("上传失败！");
                    }
                },
            });
        }

        delete front_matter["title"];
        delete front_matter["date"];
        delete front_matter["updated"];
        $("#custom").val(JSON.stringify(front_matter));

        function get_front_matter() {
            let custom = JSON.parse($("#custom").val());
            custom["title"] = $("#title").val();
            custom["date"] = $("#date").val();
            custom["updated"] = $("#updated").val();
            return custom;
        }

        window.onbeforeunload = function (e) {
            e = e || window.event;
            if (e) {
                e.returnValue = '确定要离开吗?';
            }
            return '确定要离开吗?';
        }s
    </script>
{% endblock javascripts %}
