{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Error 404 {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container" style="margin-top: -8rem!important;padding-bottom: 3rem!important;">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5">
                <div class="card z-index-0">
                    <div class="card-header bg-transparent pb-5">

                        <div class="text-muted text-center mt-2 mb-3">
                            {{ "PAGE_404_LABEL" | gettext }}
                        </div>

                        <div class="text-center mb-4">
                            {{ "PAGE_404_TIP" | gettext }}<a href="/">{{ "HOME" | gettext }}</a>
                        </div>

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <a href="/" class="text-light"><small>{{ "HOME" | gettext }}</small></a>
                    </div>
                    <div class="col-6 text-end">
                        <a target="_blank"
                           href="https://github.com/Qexo/Qexo/wiki"
                           class="text-light"><small>{{ "HELP" | gettext }}</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
