{% extends 'layouts/base.html' %}

{% block title %}
    {% if search %}{{ "SEARCH_PAGE" | gettext }}: {{ search }}{% else %}{{ "PAGE_LABEL" | gettext }}
    {% endif %} {% endblock title %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>{% if search %}{{ "SEARCH_PAGE" | gettext }}:
                            {{ search }}{% else %}{{ "PAGE_LABEL" | gettext }}
                        {% endif %}
                            (<span id="post-number">{{ post_number }}</span>个)
                            <a href="javascript:query_new()" class="text-primary text-lg">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="px-1 text-secondary">
                                            {{ "PAGE_NAME" | gettext }}</span>
                                    </th>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="text-secondary">{{ "SIZE" | gettext }}</span>
                                    </th>
                                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">
                                        <span class="text-secondary">
                                            {{ "OPERATION" | gettext }}</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="posts-list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer py-4">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item" id="prev-page">
                                <a class="page-link"
                                   href="javascript:prev_page()">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">{{ "PREV_PAGE" | gettext }}</span>
                                </a>
                            </li>
                            {% for i in page_number|get_range %}
                                <li class="page-item" id="page-{{ i }}">
                                    <a class="page-link"
                                       href="javascript:change_page({{ i }})">{{ i }}</a>
                                </li>
                            {% endfor %}

                            <li class="page-item" id="next-page">
                                <a class="page-link"
                                   href="javascript:next_page()">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">{{ "NEXT_PAGE" | gettext }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content  bg-white">
                <div class="modal-header" style="border: none;">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">{{ "TIPS" | gettext }}</h5>
                    <button type="button" data-bs-dismiss="modal"
                            aria-label="Close" style="box-sizing: content-box;width: 1em;height:
                            1em;padding: .25em;color: #8392ab;border: 0;border-radius: .375rem;
                            opacity: .5;background: none">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ "DEL_CONFIRM_1" | gettext }} <a
                        id="delfile"></a> {{ "DEL_CONFIRM_2" | gettext }}
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ "CANCEL" | gettext }}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="delete_file()"
                            data-bs-dismiss="modal">{{ "CONFIRM" | gettext }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel"
         aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content bg-white">
                <div class="modal-header" style="border: none;">
                    <h5 class="modal-title fs-5" id="renameModalLabel">{{ "RENAME" | gettext }}</h5>
                    <button type="button" data-bs-dismiss="modal"
                            aria-label="Close" style="box-sizing: content-box;width: 1em;height:
                            1em;padding: .25em;color: #8392ab;border: 0;border-radius: .375rem;
                            opacity: .5;background: none">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group"><label class="form-control-label">
                        {{ "NEW_NAME" | gettext }}</label><input
                            type="text" name="name" id="edit-name" value=""
                            class="form-control bg-white text-dark">
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ "CANCEL" | gettext }}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="rename_file()"
                            data-bs-dismiss="modal">{{ "CONFIRM" | gettext }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel"
         aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content bg-white">
                <div class="modal-header" style="border: none;">
                    <h5 class="modal-title fs-5" id="newModalLabel">{{ "NEW" | gettext }}</h5>
                    <button type="button" data-bs-dismiss="modal"
                            aria-label="Close" style="box-sizing: content-box;width: 1em;height:
                            1em;padding: .25em;color: #8392ab;border: 0;border-radius: .375rem;
                            opacity: .5;background: none">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group"><label class="form-control-label">
                        {{ "filename" | gettext }}</label><input
                            type="text" name="name" id="file-path" value=""
                            placeholder="{{ "NEW_PH" | gettext }} {{ new_dir }}"
                            class="form-control bg-white text-dark">
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ "CANCEL" | gettext }}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="new_file()"
                            data-bs-dismiss="modal">{{ "CONFIRM" | gettext }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>
        var posts = {{ posts|safe }};
        var _page = 1;
        var operate_post;

        function change_page(page) {
            scrollToTop();
            let color = checkIfDark() ? "text-white" : "text-dark";
            let post_temp = `<tr>
                                <td>
                                    <div class="d-flex px-4 py-1">
                                        <h6 class="mb-0 text-sm">@@name@@</h6>
                                    </div>
                                </td>
                                <td>
                                    <span class="text-xs font-weight-bold opacity-8
                                    ${color}">@@size@@</span>
                                </td>
                                <td class="align-middle">
                                    <a href="/edit_page.html?file=@@path@@"><i
                                    class="fa fa-edit
                                    text-primary text-xxs"></i></a>
                                    |
                                    <a href="javascript:query_rename('@@path@@')"><i class="fa-solid fa-file
                                    me-2 text-primary text-xxs"></i></a>| <a
                                    href="javascript:query_delete('@@path@@')"><i class="fa
                                    fa-trash-alt me-2 text-primary text-xxs"></i></a>
                                </td>
                            </tr>`;
            let page_posts;
            if (posts.length > page * 15 + 1) {
                page_posts = posts.slice(15 * (page - 1), page * 15);
            } else {
                page_posts = posts.slice(15 * (page - 1));
            }
            let list = "";
            for (let i = 0; i < page_posts.length; i++) {
                list += post_temp.replaceAll("@@name@@", excerpt_by_local(page_posts[i].name, 50))
                    .replaceAll("@@size@@", page_posts[i].size)
                    .replaceAll("@@path@@", encodeURIComponent(page_posts[i].path))
                    .replaceAll("@@name@@", encodeURIComponent(page_posts[i].name));
            }
            $("#page-" + _page).removeClass("active");
            $("#page-" + _page).children().removeClass("text-white");
            $("#page-" + page).addClass("active");
            $("#page-" + page).children().addClass("text-white");
            $("#posts-list").html(list);
            _page = page;
            if (page <= 1) {
                $("#prev-page").addClass("disabled");
            } else {
                $("#prev-page").removeClass("disabled");
            }
            if (page >= {{ page_number }}) {
                $("#next-page").addClass("disabled");
            } else {
                $("#next-page").removeClass("disabled");
            }
        }

        function prev_page() {
            if (_page > 1) {
                change_page(_page - 1);
            } else {
                notyf.error("{{ "NO_PREV_PAGE" | gettext }}");
            }
        }

        function next_page() {
            if (_page < {{ page_number }}) {
                change_page(_page + 1);
            } else {
                notyf.error("{{ "NO_NEXT_PAGE" | gettext }}");
            }
        }

        change_page(1);

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });


        function query_delete(name) {
            $("#delfile").text(name);
            $("#deleteModal").modal("show");
        }

        function query_rename(name) {
            operate_post = name;
            $("#renameModalLabel").text("{{ "RENAME" | gettext }}: " + name);
            $("#edit-name").val(name);
            $("#renameModal").modal("show");
        }

        function query_new() {
            $("#newModal").modal("show");
        }

        function delete_file() {
            let loading = new KZ_Loading();
            let file = $("#delfile").text();
            loading.show();
            $.ajax({
                url: '/api/delete/',
                method: 'post',
                data: {"file": file},
                dataType: 'JSON',
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success('{{ "DEL_SUCCESS" | gettext }}');
                        for (let i = 0; i < posts.length; i++) {
                            if (escapeString(posts[i]["path"]) === escapeString(file)) {
                                posts.splice(i, 1);
                                $("#post-number").html(posts.length);
                                break;
                            }
                        }
                        change_page(_page);
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }

        function rename_file() {
            let loading = new KZ_Loading();
            let new_name = $("#edit-name").val();
            loading.show();
            $.ajax({
                url: '/api/rename/',
                method: 'post',
                data: {"new": new_name, "file": operate_post},
                dataType: 'JSON',
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success("{{ "OPERATION_SUCCESS" | gettext }}");
                        location.reload();
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }

        function new_file() {
            let loading = new KZ_Loading();
            let new_name = $("#file-path").val();
            if(new_name === ""){
                notyf.error("{{ "NO_PAGE_NAME" | gettext }}");
                return;
            }
            for(let i = 0; i < posts.length; i++){
                if(posts[i].name === new_name){
                    notyf.error("{{ "PAGE_EXIST" | gettext }}");
                    return;
                }
            }
            loading.show();
            $.ajax({
                url: '/api/new_page/',
                method: 'post',
                data: {"file": new_name},
                dataType: 'JSON',
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        notyf.success(res.msg);
                        setTimeout(window.location.href = "edit_page.html?file=" +
                                    encodeURIComponent(res.path), 100);
                    } else {
                        notyf.error(res.msg);
                    }
                },
                error: function (res) {
                    loading.destroy();
                    notyf.error("{{ "NETWORK_ERROR" | gettext }}");
                }
            })
        }


    </script>
{% endblock javascripts %}
