{% extends 'layouts/base.html' %}

{% block title %} 设置 {% endblock title %}

{% block content %}

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">设置中心</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a>
                                </li>
                                <li class="breadcrumb-item active">设置</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">修改配置</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="pl-lg-4">
                                <input type="button" class="btn btn-primary" value="一键设置WEBHOOK"
                                       onclick="query_webhook()">
                            </div>
                            <div class="pl-lg-4">
                                <a class="btn btn-danger" href="/advanced.html">高级设置</a>
                            </div>
                            <div class="pl-lg-4">
                                <input type="button" class="btn btn-warning" value="清除缓存"
                                       onclick="query_purge()">
                            </div>
                            {% if showUpdate %}
                                <div class="pl-lg-4">
                                    <input type="button" class="btn btn-danger" value="一键更新"
                                           onclick="query_update()">
                                </div>
                            {% endif %}
                        </div>
                        <form id="apikey-settings">
                            <hr class="my-4"/>
                            <h6 class="heading-small text-muted mb-4">API配置</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">API密钥</label>
                                            <input type="text" name="apikey" class="form-control"
                                                   placeholder="留空将自动生成">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="button" class="btn btn-primary" value="提交"
                                               onclick="query_apikey()">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="user-settings">
                            <hr class="my-4"/>
                            <h6 class="heading-small text-muted mb-4">用户配置</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">原密码</label>
                                            <input type="text" name="password" class="form-control"
                                                   placeholder="原密码">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">新用户名</label>
                                            <input type="text" name="username" class="form-control"
                                                   placeholder="新的用户名">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">新密码</label>
                                            <input type="text" name="newpassword"
                                                   class="form-control"
                                                   placeholder="新的密码">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">重复密码</label>
                                            <input type="text" name="repassword"
                                                   class="form-control"
                                                   placeholder="再次输入以确认密码">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="button" class="btn btn-primary" value="提交"
                                               onclick="submit_user_config()">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="github-settings">
                            <hr class="my-4"/>
                            <h6 class="heading-small text-muted mb-4">Github配置</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Github仓库</label>
                                            <input type="text" name="repo" class="form-control"
                                                   placeholder="username/repo"
                                                   value="{{ GH_REPO }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">项目分支</label>
                                            <input type="text" name="branch" class="form-control"
                                                   placeholder="main"
                                                   value="{{ GH_REPO_BRANCH }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Github密钥</label>
                                            <input type="text" name="token" class="form-control"
                                                   placeholder="{{ GH_TOKEN }}" value="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">仓库路径</label>
                                            <input type="text" name="path" class="form-control"
                                                   placeholder="若为根目录请留空"
                                                   value="{{ GH_REPO_PATH }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="button" class="btn btn-primary" value="提交"
                                               onclick="submit_github_config()">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="abbrlink-settings">
                            <hr class="my-4"/>
                            <h6 class="heading-small text-muted mb-4">短链接配置</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">短链接算法</label>
                                            <select name="alg" class="form-control">
                                                <option{% if ABBRLINK_ALG == "crc16" %} selected{% endif %}>crc16</option>
                                                <option{% if ABBRLINK_ALG == "crc32" %} selected{% endif %}>crc32</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">短链接进制</label>
                                            <select name="rep" class="form-control">
                                                <option{% if ABBRLINK_REP == "hex" %} selected{% endif %}>hex</option>
                                                <option{% if ABBRLINK_REP == "dec" %} selected{% endif %}>dec</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="button" class="btn btn-primary" value="提交"
                                               onclick="submit_abbrlink_config()">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="image-settings">
                            <hr class="my-4"/>
                            <h6 class="heading-small text-muted mb-4">远程图床</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="custom-toggle">
                                                <input type="checkbox" name="cust-status"
                                                       {% if IMG_TYPE == "custom" %}checked{% endif %}>
                                                <span class="custom-toggle-slider rounded-circle"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">图床-API地址</label>
                                            <input type="text" name="api" class="form-control"
                                                   placeholder="API 地址 ( 包含 http )"
                                                   value="{{ IMG_API }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">图床-POST参数名</label>
                                            <input type="text" name="post" class="form-control"
                                                   placeholder="POST 参数名"
                                                   value="{{ IMG_POST }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">图床-JSON路径</label>
                                            <input type="text" name="jsonpath" class="form-control"
                                                   placeholder="JSON 路径 eg: data.img"
                                                   value="{{ IMG_JSON_PATH }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">图床-自定义请求头</label>
                                            <input type="text" name="header" class="form-control"
                                                   placeholder="标准 JSON 格式"
                                                   value="{{ IMG_CUSTOM_HEADER }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">图床-自定义BODY</label>
                                            <input type="text" name="body" class="form-control"
                                                   placeholder="标准 JSON 格式"
                                                   value="{{ IMG_CUSTOM_BODY }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">图床-自定义前缀</label>
                                            <input type="text" name="custom" class="form-control"
                                                   placeholder="自定义图片 URL 前缀"
                                                   value="{{ IMG_CUSTOM_URL }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="button" class="btn btn-primary" value="提交"
                                               onclick="submit_image_config()">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="s3-settings">
                            <hr class="my-4"/>
                            <h6 class="heading-small text-muted mb-4">S3图床</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="custom-toggle">
                                                <input type="checkbox" name="s3-status"
                                                       {% if IMG_TYPE == "s3" %}checked{% endif %}>
                                                <span class="custom-toggle-slider rounded-circle"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">应用密钥ID</label>
                                            <input type="text" name="key-id" class="form-control"
                                                   placeholder="Access Key ID"
                                                   value="{{ S3_KEY_ID }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">应用密钥</label>
                                            <input type="text" name="access-key"
                                                   class="form-control"
                                                   placeholder="Access Key"
                                                   value="{{ S3_ACCESS_KEY }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">储存桶</label>
                                            <input type="text" name="bucket" class="form-control"
                                                   placeholder="Bucket名称"
                                                   value="{{ S3_BUCKET }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">边缘节点</label>
                                            <input type="text" name="endpoint" class="form-control"
                                                   placeholder="eg: https://s3.us-west-002.example.com"
                                                   value="{{ S3_ENDPOINT }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">保存路径</label>
                                            <input type="text" name="path" class="form-control"
                                                   placeholder="eg: {year}/{month}/{md5}.{extName}"
                                                   value="{{ S3_PATH }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">自定义域名</label>
                                            <input type="text" name="url" class="form-control"
                                                   placeholder="eg: https://example.com/dir"
                                                   value="{{ S3_PREV_URL }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="button" class="btn btn-primary" value="提交"
                                               onclick="submit_s3_config()">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="cust-settings">
                            <hr class="my-4"/>
                            <h6 class="heading-small text-muted mb-4">自定义配置</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">站点名称</label>
                                            <input type="text" name="name" class="form-control"
                                                   placeholder="默认为 Hexo管理面板"
                                                   value="{{ QEXO_NAME }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">站点连接符</label>
                                            <input type="text" name="split" class="form-control"
                                                   placeholder="默认为“ - ”"
                                                   value="{{ QEXO_SPLIT }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">站点LOGO</label>
                                            <input type="text" name="logo"
                                                   class="form-control"
                                                   placeholder="默认为 brand 下的 Qexo.png"
                                                   value="{{ QEXO_LOGO }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">站点ICON</label>
                                            <input type="text" name="icon"
                                                   class="form-control"
                                                   placeholder="默认为 brand 下的 favicon.ico"
                                                   value="{{ QEXO_ICON }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="button" class="btn btn-primary" value="提交"
                                               onclick="submit_cust_config()">
                                        <input type="button" class="btn btn-white" value="重置"
                                               onclick="query_reset_cust()">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="queryModal" tabindex="-1" aria-labelledby="queryModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="queryModalLabel">提示</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a id="question"></a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="purge()">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="queryWebhook" tabindex="-1" aria-labelledby="queryWebhookLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="queryWebhookLabel">提示</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        确定要自动创建Webhook事件吗？这会清除您原仓库的所有Webhook事件
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="create_webhook()">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="queryUpdate" tabindex="-1" aria-labelledby="queryUpdateLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="queryWebhookLabel">更新</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <label class="form-control-label">更新通道</label>
                            <select class="form-control" id="update-origin-branch">
                                <option>master</option>
                                <option>dev</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="do_update()">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="queryApikey" tabindex="-1" aria-labelledby="queryApikeyLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="queryApikeyLabel">提示</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        确定要重设API密钥吗？您之前的API密钥将失效，您可能需要重新设置Webhook，若留空将自动生成API密钥
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="set_apikey()">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="queryResetCust" tabindex="-1"
             aria-labelledby="queryResetCustLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="queryResetCustLabel">提示</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        确定要重置自定义配置吗？该操作不可回退
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="reset_cust_config()">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="{{ cdn_prev }}qexo-static@1.0.6/assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script>
        function getBaseUrl() {
            let ishttps = 'https:' == document.location.protocol ? true : false;
            let url = window.location.host;
            if (ishttps) {
                url = 'https://' + url;
            } else {
                url = 'http://' + url;
            }
            return url;
        }

        function KZ_Loading(config) {
            if (this instanceof KZ_Loading) {
                const domTemplate = '<div class="modal kz-loading" data-kzid="@@KZ_Loadin_ID@@" backdrop="static" keyboard="false"><div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px"><div class="progress progress-striped active" style="margin-bottom: 0;"><div class="progress-bar" style="width: 100%;"></div></div><h5>@@KZ_Loading_Text@@</h5></div></div>';
                this.config = {
                    content: 'loading...',
                    time: 0,
                };
                if (config != null) {
                    if (typeof config === 'string') {
                        this.config = Object.assign(this.config, {
                            content: config
                        });
                    } else if (typeof config === 'object') {
                        this.config = Object.assign(this.config, config);
                    }
                }
                this.id = new Date().getTime().toString();
                this.state = 'hide';

                /*显示 */
                this.show = function () {
                    $('.kz-loading[data-kzid=' + this.id + ']').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    this.state = 'show';
                    if (this.config.time > 0) {
                        var that = this;
                        setTimeout(function () {
                            that.hide();
                        }, this.config.time);
                    }
                };
                /*隐藏 */
                this.hide = function (callback) {
                    $('.kz-loading[data-kzid=' + this.id + ']').modal('hide');
                    this.state = 'hide';
                    if (callback) {
                        callback();
                    }
                };
                /*销毁dom */
                this.destroy = function () {
                    var that = this;
                    this.hide(function () {
                        var node = $('.kz-loading[data-kzid=' + that.id + ']');
                        node.next().remove();
                        node.remove();
                        that.show = function () {
                            throw new Error('对象已销毁！');
                        };
                        that.hide = function () {
                        };
                        that.destroy = function () {
                        };
                    });
                }

                var domHtml = domTemplate.replace('@@KZ_Loadin_ID@@', this.id).replace('@@KZ_Loading_Text@@', this.config.content);
                $('body').append(domHtml);
            } else {
                return new KZ_Loading(config);
            }
        }

        function submit_github_config() {
            var loading = new KZ_Loading('正在校验并保存中...');
            loading.show();
            $.ajax({
                url: '/api/set_github/',
                method: 'post',
                data: $('#github-settings').serialize(),
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        let notify = $.notify(res.msg, {type: "success", delay: 1000});
                    } else {
                        let notify = $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    let notify = $.notify("网络错误！", {type: "warning"});
                }
            })
        }

        function submit_user_config() {
            if (!$("input[name='username']").val()) {
                let notify = $.notify("请输入正确的用户名！", {type: "warning", delay: 1500});
                return false;
            }
            if (!$("input[name='password']").val()) {
                let notify = $.notify("原密码不能为空！", {type: "warning", delay: 1500});
                return false;
            }
            if (!$("input[name='newpassword']").val()) {
                let notify = $.notify("请输入正确的新密码！", {type: "warning", delay: 1500});
                return false;
            }
            if ($("input[name='newpassword']").val() != $("input[name='repassword']").val()) {
                let notify = $.notify("两次输入的密码不相同！", {type: "warning", delay: 1500});
                return false;
            }
            let loading = new KZ_Loading('正在校验并保存中...');
            loading.show();
            $.ajax({
                url: '/api/set_user/',
                method: 'post',
                data: $('#user-settings').serialize(),
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        $.notify(res.msg, {type: "success", delay: 1000});
                        setTimeout(location.reload(), 1000);
                    } else {
                        $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    $.notify("网络错误！", {type: "warning"});
                }
            })
        }

        function submit_image_config() {
            let loading = new KZ_Loading('正在保存中...');
            loading.show();
            $.ajax({
                url: '/api/set_image_bed/',
                method: 'post',
                data: $('#image-settings').serialize(),
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        $.notify(res.msg, {type: "success", delay: 1000});
                        if ($("input:checkbox[name=cust-status]").is(':checked')) {
                            $("input:checkbox[name=s3-status]").prop("checked", false);
                        }
                    } else {
                        $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    $.notify("网络错误！", {type: "warning"});
                }
            })
        }

        function submit_s3_config() {
            let loading = new KZ_Loading('正在保存中...');
            loading.show();
            $.ajax({
                url: '/api/set_s3/',
                method: 'post',
                data: $('#s3-settings').serialize(),
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        $.notify(res.msg, {type: "success", delay: 1000});
                        if ($("input:checkbox[name=s3-status]").is(':checked')) {
                            $("input:checkbox[name=cust-status]").prop("checked", false);
                        }
                    } else {
                        $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    $.notify("网络错误！", {type: "warning"});
                }
            })
        }

        function query_purge() {
            $("#question").text("确定清除所有缓存吗");
            $("#queryModal").modal("show");
        }

        function query_webhook() {
            $("#queryWebhook").modal("show");
        }

        function query_update() {
            $("#queryUpdate").modal("show");
        }

        function query_apikey() {
            $("#queryApikey").modal("show");
        }

        function query_reset_cust() {
            $("#queryResetCust").modal("show");
        }

        function purge() {
            let loading = new KZ_Loading('正在清除中...');
            loading.show();
            $.ajax({
                url: '/api/purge/',
                method: 'get',
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        let notify = $.notify(res.msg, {type: "success", delay: 1000});
                    } else {
                        let notify = $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    let notify = $.notify("网络错误！", {type: "warning"});
                }
            })
        }

        function create_webhook() {
            let loading = new KZ_Loading('正在设置中...');
            loading.show();
            $.ajax({
                url: '/api/create_webhook/',
                method: 'post',
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}", "uri": getBaseUrl() + "/api/webhook/"
                },
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        let notify = $.notify(res.msg, {type: "success", delay: 1000});
                    } else {
                        let notify = $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    let notify = $.notify("网络错误！", {type: "warning"});
                }
            })
        }


        function submit_cust_config() {
            let loading = new KZ_Loading('正在保存中...');
            loading.show();
            $.ajax({
                url: '/api/set_cust/',
                method: 'post',
                data: $('#cust-settings').serialize(),
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        $.notify(res.msg, {type: "success", delay: 1000});
                    } else {
                        $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    $.notify("网络错误！", {type: "warning"});
                }
            })
        }

        function reset_cust_config() {
            let loading = new KZ_Loading('正在保存中...');
            loading.show();
            $.ajax({
                url: '/api/set_cust/',
                method: 'post',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}', 'logo': 'https://cdn.jsdelivr' +
                        '.net/npm/qexo-static@1.0.6/assets/img/brand/qexo.png', 'icon':
                        'https://cdn.jsdelivr' +
                        '.net/npm/qexo-static@1.0.6/assets/img/brand/favicon.ico',
                    'name': 'Hexo管理面板', 'split': ' - '
                },
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        $.notify(res.msg, {type: "success", delay: 1000});
                    } else {
                        $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    $.notify("网络错误！", {type: "warning"});
                }
            })
        }

        function set_apikey() {
            let loading = new KZ_Loading('正在保存中...');
            loading.show();
            $.ajax({
                url: '/api/set_apikey/',
                method: 'post',
                data: $('#apikey-settings').serialize(),
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        $.notify(res.msg, {type: "success", delay: 1000});
                    } else {
                        $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    $.notify("网络错误！", {type: "warning"});
                }
            })
        }

        function submit_abbrlink_config() {
            let loading = new KZ_Loading('正在保存中...');
            loading.show();
            $.ajax({
                url: '/api/set_abbrlink/',
                method: 'post',
                data: $('#abbrlink-settings').serialize(),
                dataType: "json",
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        $.notify(res.msg, {type: "success", delay: 1000});
                    } else {
                        $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    $.notify("网络错误！", {type: "warning"});
                }
            })
        }

        function do_update() {
            let loading = new KZ_Loading('正在尝试更新...');
            loading.show();
            $.ajax({
                url: '/api/do_update/',
                method: 'post',
                dataType: "json",
                data: {"branch": $("#update-origin-branch").val(), csrfmiddlewaretoken:
                        '{{ csrf_token }}'},
                success: function (res) {
                    loading.destroy();
                    if (res.status) {
                        $.notify("更新成功！请等待自动部署", {type: "success", delay: 1000});
                    } else {
                        $.notify(res.msg, {type: "warning"});
                    }
                },
                error: function (res) {
                    loading.destroy();
                    $.notify("网络错误！", {type: "warning"});
                }
            })
        }

    </script>
{% endblock javascripts %}
