Django==3.2.25
boto3==1.34.44
requests==2.32.3
PyGithub==2.5.0
python-gitlab==4.13.0
html2text==2024.2.26
PyYAML==6.0.2
Markdown==3.7
django-cors-headers==4.1.0
oss2==2.19.1
beautifulsoup4==4.12.3
upyun==2.5.5
gunicorn==23.0.0
