{% extends 'layouts/base-fullscreen.html' %}

{% block title %} {{ "INIT" | gettext }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        .notyf__toast {
            max-width: 24em !important;
        }

        .notyf__ripple {
            height: 60em !important;
            width: 60em !important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container" style="margin-top: -8rem!important;padding-bottom: 3rem!important;">
        <div class="row justify-content-center">
            {% if step == "4" or step == "2" or step == "3" %}
                <div class="col-lg-8 col-md-5">
            {% else %}
                <div class="col-lg-5 col-md-5">
            {% endif %}
            <div class="card z-index-0">
                <div class="card-body">
                    <div class="text-center text-muted mb-4">
                        {% if step == "1" %}
                            <h4>{{ "INIT_WELCOME" | gettext }}</h4>
                        {% endif %}
                        {% if step == "2" %}
                            <h5>{{ "INIT_USER" | gettext }}</h5>
                        {% endif %}
                        {% if step == "3" %}
                            <h4>{{ "INIT_BLOG" | gettext }}</h4>
                        {% endif %}
                        {% if step == "4" %}
                            <h5>{{ "INIT_IMAGE" | gettext }}</h5>
                        {% endif %}
                        {% if step == "5" %}
                            <h5>{{ "INIT_VERCEL" | gettext }}</h5>
                        {% endif %}
                        {% if step == "6" %}
                            <h5>{{ "INIT_FINISH" | gettext }}</h5>
                        {% endif %}
                    </div>
                    {% if step == "6" %}
                        <ul>{{ "INIT_LOGIN_MSG_1" | gettext }}
                            <li>{{ "INIT_LOGIN_MSG_2" | gettext }}{{ username }}</li>
                            <li>{{ "INIT_LOGIN_MSG_3" | gettext }}</li>
                            <a class="btn btn-primary my-4 text-white" href="/">
                                {{ "INIT_LOGIN_MSG_4" | gettext }}
                            </a>
                        </ul>
                    {% endif %}
                    <form method="POST" id="main-form">
                        {% if step == "1" %}
                            <div class="text-center">
                                <select name="language" id="config-container"
                                        class="form-control">
                                    {% for i in all_languages %}
                                        <option value="{{ i.name }}">{{ i.name_local }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary my-4">
                                    {{ "START" | gettext }}</button>
                            </div>
                        {% endif %}
                        <input type="hidden" name="step"
                               value="{{ step }}">
                        {% csrf_token %}
                        {% if step == "2" %}
                            <hr class="my-4"/>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">{{ "INIT_2_1" | gettext }}</label>
                                        <input type="text" name="apikey" class="form-control"
                                               placeholder="{{ "INIT_2_1_PH" | gettext }}"
                                               value="{{ apikey }}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            {{ "INIT_2_2" | gettext }}</label>
                                        <input type="text" name="username"
                                               class="form-control"
                                               placeholder="{{ "INIT_2_2_PH" | gettext }}"
                                               value="{{ username }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            {{ "INIT_2_3" | gettext }}</label>
                                        <input type="text" name="password" class="form-control"
                                               placeholder="{{ "INIT_2_3_PH" | gettext }}"
                                               value="{{ password }}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            {{ "INIT_2_4" | gettext }}</label>
                                        <input type="text" name="repassword" class="form-control"
                                               placeholder="{{ "INIT_2_4_PH" | gettext }}"
                                               value="{{ repassword }}">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">
                                    {{ "NEXT" | gettext }}</button>
                            </div>
                        {% endif %}
                        {% if step == "3" %}
                            <hr class="my-4"/>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{ "INIT_3_1" | gettext }}</label>
                                            <select name="provider" id="provider-container"
                                                    class="form-control"
                                                    onchange="change_provider(this.value)">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{ "INIT_3_2" | gettext }}</label>
                                            <select name="config" id="config-container"
                                                    class="form-control">
                                                {% for config in all_platform_configs %}
                                                    <option value="{{ config }}">{{ config }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div id="hexo-settings-container"></div>
                            </div>
                            <div class="text-center" id="submit-button">
                                {% if PROVIDER %}
                                    <input type="button" class="btn btn-secondary my-4"
                                           value="{{ "FORCE_SUBMIT" | gettext }}"
                                           onclick="query_force()">
                                {% endif %}
                                <button type="submit" class="btn btn-primary my-4">下一步</button>
                            </div>
                        {% endif %}
                        {% if step == "5" %}
                            <hr class="my-4"/>
                            <div class="form-group">
                                <label class="form-control-label">{{ "INIT_4_1" | gettext }}</label>
                                <input type="text" name="token" class="form-control"
                                       placeholder="Vercel Token" value="{{ vercel_token }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">{{ "INIT_4_2" | gettext }}</label>
                                <input type="text" name="id" class="form-control"
                                       placeholder="Project ID"
                                       value="{{ project_id }}">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">
                                    {{ "FINISH" | gettext }}</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="queryModal" tabindex="-1" aria-labelledby="queryModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="queryModalLabel">{{ "TIPS" | gettext }}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a id="question"></a>
                </div>
                <div class="modal-footer" id="query-footer">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>
        {% if msg %}
            notyf.error(`{{ msg|safe }}`);
        {% endif %}

        function skip() {
            let temp = document.createElement("form");
            temp.action = "";
            temp.method = "post";
            temp.hidden = true;
            let opt = document.createElement("textarea");
            opt.name = "csrfmiddlewaretoken";
            opt.value = "{{ csrf_token }}";
            temp.appendChild(opt);
            opt = document.createElement("textarea");
            opt.name = "step";
            opt.value = "{{ step }}";
            temp.appendChild(opt);
            document.body.appendChild(temp);
            temp.submit();
        }


        {% if step == "3" %}
            const all_providers = {{ all_providers | safe }};
            {% if PROVIDER %}
                var now_provider = {{ PROVIDER | safe }};
                function query_force() {
                    $("#question").html("{{ "FORCE_MSG" | gettext }}");
                    $("#query-footer").html(
                        `<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                onclick="force_submit()">{{ "CONFIRM" | gettext }}
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ "CANCEL" | gettext }}
                        </button>`
                    );
                    $("#queryModal").modal("show");
                }
                function force_submit() {
                    $("#main-form").append("<input type='hidden' name='_force' value='1'>");
                    $("#main-form").submit();
                }
            {% else %}
                var now_provider = {};
            {% endif %}
            function change_provider(provider) {
                let params = all_providers[provider];
                let t = 0;
                let html = '';
                if (provider === now_provider["provider"]) {
                    for (let key in params) {
                        if (t % 2 === 0) {  // first param
                            html += `<div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">` +
                                params[key]["description"] +
                                `</label>
                                        <input type="text" name="` + key + `" class="form-control"
                                               placeholder="` + params[key]["placeholder"] + `"
                                               value="` + escapeString(now_provider["params"][key]) + `">
                                    </div>
                                </div>`
                            t += 1;
                        } else {
                            html += `<div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">` + params[key]["description"] + `</label>
                                    <input type="text" name="` + key + `" class="form-control"
                                           placeholder="` + params[key]["placeholder"] + `"
                                           value="` + escapeString(now_provider["params"][key]) + `">
                                </div>
                            </div>
                        </div>`
                            t += 1;
                        }
                    }
                    if (t % 2 === 1) {
                        html += '</div>';
                    }
                } else {
                    for (let key in params) {
                        if (t % 2 === 0) {  // first param
                            html += `<div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">` + params[key]["description"] + `</label>
                                        <input type="text" name="` + key + `" class="form-control"
                                               placeholder="` + params[key]["placeholder"] + `"
                                               value="">
                                    </div>
                                </div>`
                            t += 1;
                        } else {
                            html += `<div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">` + params[key]["description"] + `</label>
                                    <input type="text" name="` + key + `" class="form-control"
                                           placeholder="` + params[key]["placeholder"] + `"
                                           value="">
                                </div>
                            </div>
                        </div>`
                            t += 1;
                        }
                    }
                    if (t % 2 === 1) {
                        html += '</div>';
                    }
                }
                $("#hexo-settings-container").html(html);
            }

            let provider_container = "";
            for (let key in all_providers) {
                if (now_provider["provider"] === key) {
                    provider_container += `<option selected>` + key + `</option>`;
                    change_provider(key);
                } else {
                    provider_container += `<option>` + key + `</option>`;
                }
            }
            if (!now_provider["provider"]) {
                change_provider("github");
            }
            $("#provider-container").html(provider_container);
        {% endif %}

    </script>
{% endblock javascripts %}
