<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard

* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://github.com/Qexo/Qexo">

    <title>
        {{ QEXO_NAME }}{{ QEXO_SPLIT }}{% block title %}{% endblock %}
    </title>

    <link rel="shortcut icon" href="{{ QEXO_ICON }}">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet"
          href="{{ cdn_prev }}qexo-static@1.4.0/assets/vendor/nucleo/css/nucleo.css"
          type="text/css">
    <link rel="stylesheet"
          href="{{ cdn_prev }}qexo-static@1.4.0/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
          type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="{{ cdn_prev }}qexo-static@1.4.0/assets/css/argon.css?v=1.2.0"
          type="text/css">
    <link rel="stylesheet"
          href="{{ cdn_prev }}qexo-static@1.4.0/assets/css/notyf.min.css"
          type="text/css">
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="bg-default">

<div class="main-content">


    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    {% block content %}{% endblock content %}

</div>

{% include "includes/scripts.html" %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}

<script src="{{ cdn_prev }}qexo-static@1.4.0/assets/js/argon.js?v=1.2.0"></script>

</body>

</html>
