<script>
    const excerpt_config = {{ AUTO_EXCERPT_CONFIG | safe }};

    function excerpt_post() {
        let method = excerpt_config.method;
        let html = vditor.getHTML();
        let excerpt = "";
        if (method === "本地") {
            excerpt = excerpt_by_local(html, excerpt_config.params.length);
        } else if (method === "TianliGPT") {
            excerpt = excerpt_by_tianli(html, excerpt_config.params.length, excerpt_config.params
                .key);
        }
        front_matter = get_front_matter();
        front_matter[excerpt_config.save_key] = excerpt;
        OrgSidebar = [...Sidebar];
        showSidebar(true);
    }

    function excerpt_by_local(content, length) {
        let excerpt = content.replace(/<img[^>]*>/g, "");
        excerpt = excerpt.replace(/<iframe[^>]*>/g, "");
        excerpt = excerpt.replace(/<script[^>]*>/g, "");
        excerpt = excerpt.replace(/<style[^>]*>/g, "");
        excerpt = excerpt.replace(/<[^>]*>/g, "");
        excerpt = excerpt.replace(/\n/g, " ");
        return excerpt.substring(0, length) + (content.length > length ? "..." : "");
    }

    function excerpt_by_tianli(content, length, key) {
        let loading = new KZ_Loading('生成摘要中中...');
        loading.show();
        let excerpt = excerpt_by_local(content, length);
        let uri = "https://summary.tianli0.top/?content=" + encodeURIComponent(excerpt) + "&key="
            + encodeURIComponent(key);
        let ajax;
        try {
            // Firefox, Opera 8.0+, Safari
            ajax = new XMLHttpRequest();
        } catch (e) {
            // Internet Explorer
            try {
                ajax = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    ajax = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {
                    alert("糟糕,你的浏览器不能上传文件!");
                    return false;
                }
            }
        }
        ajax.open("get", uri, false);
        ajax.setRequestHeader("Content-Type", "application/json; charset=utf-8");
        ajax.onreadystatechange = function () {
            if (ajax.readyState === 4) {
                let res = ajax.response;
                if (ajax.status === 200) {
                    res = JSON.parse(res);
                    excerpt = res["summary"];
                } else {
                    notyf.error(res);
                }
                loading.destroy();
            }
        };
        ajax.send(null);
        console.log(excerpt);
        return excerpt;
    }
</script>