<script>
    const excerpt_config = {{ AUTO_EXCERPT_CONFIG | safe }};

    function excerpt_post(nextstep = function () {
    }) {
        let method = excerpt_config.method;
        let html = vditor.getHTML();
        let excerpt = "";
        if (method === "本地") {
            excerpt = excerpt_by_local(html, excerpt_config.params.length);
            front_matter = get_front_matter();
            front_matter[excerpt_config.save_key] = excerpt;
            OrgSidebar = [...Sidebar];
            showSidebar(true);
            nextstep();
        } else if (method === "TianliGPT") {
            excerpt_by_tianli(html, excerpt_config.params.length, excerpt_config.params.key, nextstep);
        } else if (method === "ChatGPT") {
            excerpt_by_chatgpt(html, excerpt_config.params.length, excerpt_config.params.api_key, nextstep, excerpt_config.params.api, excerpt_config.params.model);
        }


    }

    function excerpt_by_local(content, length) {
        let excerpt = content.replace(/<img[^>]*>/g, "");
        excerpt = excerpt.replace(/<iframe[^>]*>/g, "");
        excerpt = excerpt.replace(/<script[^>]*>/g, "");
        excerpt = excerpt.replace(/<style[^>]*>/g, "");
        excerpt = excerpt.replace(/<[^>]*>/g, "");
        excerpt = excerpt.replace(/\n/g, " ");
        return excerpt.substring(0, length) + (content.length > length ? "..." : "");
    }

    function excerpt_by_tianli(content, length, key, nextstep) {
        let excerpt = excerpt_by_local(content, length);
        let loading = new KZ_Loading('{{ "EXCERPT_LOADING" | gettext }}');
        loading.show();
        $.ajax({
            url: "https://summary.tianli0.top/",
            type: "GET",
            dataType: "json",
            data: {
                "content": excerpt,
                "key": key
            },
            success: function (data, status, xhr) {
                loading.destroy();
                excerpt = data["summary"];
                front_matter = get_front_matter();
                front_matter[excerpt_config.save_key] = excerpt;
                OrgSidebar = [...Sidebar];
                showSidebar(true);
                nextstep();
            },
            error: function (data) {
                loading.destroy();
                notyf.error("{{ "EXCERPT_FAILED" | gettext }}" + data.responseText);
            }
        });
        return excerpt;
    }
    
    function excerpt_by_chatgpt(content, length, api_key, nextstep, api, model) {
        let excerpt = excerpt_by_local(content, length);
        let loading = new KZ_Loading('{{ "EXCERPT_LOADING" | gettext }}');
        loading.show();
    
        $.ajax({
            url: api,
            type: "POST",
            headers: {
                'Authorization': `Bearer ${api_key}`,
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                "model": model,
                "messages": [
                    {"role": "system", "content": `请为以下博客文章撰写一个简明扼要的摘要，长度在100至200字之间。摘要应包括文章的核心主题、关键观点和任何重要的结论或建议。`},
                    {"role": "user","content": excerpt}
                ]
            }),
            success: function (data, status, xhr) {
                loading.destroy();
                if (data.choices && data.choices[0] && data.choices[0].message && data.choices[0].message.content) {
                    excerpt = data.choices[0].message.content.trim();
                    front_matter = get_front_matter();
                    front_matter[excerpt_config.save_key] = excerpt;
                    OrgSidebar = [...Sidebar];
                    showSidebar(true);
                }
                nextstep();
            },
            error: function (data) {
                loading.destroy();
                notyf.error("{{ "EXCERPT_FAILED" | gettext }}" + xhr.responseText);
            }
        });
        return excerpt;
    }

</script>
