
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="https://github.com/am-abudu/Qexo"
                 class="font-weight-bold ml-1" target="_blank"> &copy; Qexo</a>
                 - coded by <a target="_blank" href="https://github.com/am-abudu">Abudu</a>
            </div>
          </div>
        </div>
      </footer>
