
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
               &copy; <a target="_blank"
                         href="https://github.com/am-abudu/Qexo">Qexo</a>
               - coded by <a target="_blank" href="https://github.com/am-abudu">Abudu</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
