<footer class="footer pt-3  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    ,
                    Designed <i class="fa fa-heart"></i> by
                    <a href="https://www.oplog.cn" class="font-weight-bold"
                       target="_blank">Abudu</a>
                    for you.
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="https://www.oplog.cn" class="nav-link text-muted"
                           target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/qexo/qexo"
                           class="nav-link text-muted" target="_blank">Qexo</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.oplog.cn/qexo" class="nav-link text-muted"
                           target="_blank">Wiki</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/Qexo/Qexo/blob/master/LICENSE"
                           class="nav-link pe-0 text-muted" target="_blank">License</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>